<div class="building-energy-emission margin-bottom">
	<div class="flex-container margin-bottom" *ngIf="showTotal">
		<div class="flex-item space-between">
			<mat-label>
				{{ title }}
			</mat-label>
		</div>
		<div class="flex-item">
			<mat-label>
				{{ totalResidentialEnergyDemand | number: '1.2' }}
				{{ emissionUnit }}
			</mat-label>
		</div>
	</div>
	<div class="margin-bottom">
		<h5>{{ componentType }}</h5>
	</div>

	<div class="emmission-table">
		<table mat-table [dataSource]="dataSource">
			<ng-container *ngIf="isEnergyUse" matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef>
					<span *ngIf="!isResult"> Average Energy Use </span>
					<span *ngIf="isResult">Energy Use MWh</span>
				</th>
				<td mat-cell *matCellDef="let element">
					{{ element.name }}
				</td>
				<!--
				<td mat-footer-cell *matFooterCellDef>
					Emmission factor for District Heating
				</td>
				-->
			</ng-container>
			<ng-container *ngIf="isEnergyEmmission" matColumnDef="EnergyUse">
				<th mat-header-cell *matHeaderCellDef>
					Emissions tCO2
				</th>
				<td mat-cell *matCellDef="let element">
					{{ element.EnergyUse }}
				</td>
				<td mat-footer-cell *matFooterCellDef>
					Total Energy Emmissions tCO2
				</td>
			</ng-container>
			<ng-container matColumnDef="Total">
				<th mat-header-cell *matHeaderCellDef>
					<span *ngIf="!isResult">{{ emissionUnit }}</span>
					<span *ngIf="isResult"> Total</span>
				</th>
				<td mat-cell *matCellDef="let element; let i = index">
					<span *ngIf="!isResult">
						{{
							getAverageEnergyUsePerBuilding(element)
								| number: '1.2'
						}}
					</span>
					<span *ngIf="isResult">
						{{
							getTotalEnergyUsePerBuilding(element)
								| number: '1.2'
						}}
					</span>
				</td>
				<!--
				<td mat-footer-cell *matFooterCellDef>
					get total all
				</td>
				-->
			</ng-container>
			<ng-container matColumnDef="Electricity">
				<th mat-header-cell *matHeaderCellDef>
					Electricity
				</th>
				<td mat-cell *matCellDef="let element">
					<input
						*ngIf="!isResult"
						class="area-input"
						type="number"
						[(ngModel)]="element.energyUse.Electricity"
						value="element.energyUse.Electricity"
					/>
					<input
						*ngIf="isResult"
						class="area-input"
						type="number"
						[(ngModel)]="element.energyUseResult.Electricity"
						value="element.energyUseResult.Electricity"
						readonly
					/>
				</td>
				<!--
				<td mat-footer-cell *matFooterCellDef>
					electricity total here
				</td>
				-->
			</ng-container>

			<ng-container matColumnDef="Gas">
				<th mat-header-cell *matHeaderCellDef>
					Gas
				</th>
				<td mat-cell *matCellDef="let element">
					<input
						*ngIf="!isResult"
						class="area-input"
						type="number"
						[(ngModel)]="element.energyUse.Gas"
						value="element.energyUse.Gas"
					/>
					<input
						*ngIf="isResult"
						class="area-input"
						type="number"
						[(ngModel)]="element.energyUseResult.Gas"
						value="element.energyUseResult.Gas"
						readonly
					/>
				</td>
				<!--
				<td mat-footer-cell *matFooterCellDef>
					gas total here
				</td>
				-->
			</ng-container>

			<ng-container matColumnDef="Oil">
				<th mat-header-cell *matHeaderCellDef>
					Oil
				</th>
				<td mat-cell *matCellDef="let element">
					<input
						*ngIf="!isResult"
						class="area-input"
						type="number"
						[(ngModel)]="element.energyUse.Oil"
						value="element.energyUse.Oil"
					/>
					<input
						*ngIf="isResult"
						class="area-input"
						type="number"
						[(ngModel)]="element.energyUseResult.Oil"
						value="element.energyUseResult.Oil"
						readonly
					/>
				</td>
				<!--
				<td mat-footer-cell *matFooterCellDef>
					oil total here
				</td>
				-->
			</ng-container>
			<ng-container matColumnDef="Coal">
				<th mat-header-cell *matHeaderCellDef>
					Coal
				</th>
				<td mat-cell *matCellDef="let element">
					<input
						*ngIf="!isResult"
						class="area-input"
						type="number"
						[(ngModel)]="element.energyUse.Coal"
						value="element.energyUse.Coal"
					/>
					<input
						*ngIf="isResult"
						class="area-input"
						type="number"
						[(ngModel)]="element.energyUseResult.Coal"
						value="element.energyUseResult.Coal"
						readonly
					/>
				</td>
				<!--
				<td mat-footer-cell *matFooterCellDef>
					coal toal here
				</td>
				-->
			</ng-container>
			<ng-container matColumnDef="Peat">
				<th mat-header-cell *matHeaderCellDef>
					Peat
				</th>
				<td mat-cell *matCellDef="let element">
					<input
						*ngIf="!isResult"
						class="area-input"
						type="number"
						[(ngModel)]="element.energyUse.Peat"
						value="element.energyUse.Peat"
					/>
					<input
						*ngIf="isResult"
						class="area-input"
						type="number"
						[(ngModel)]="element.energyUseResult.Peat"
						value="element.energyUseResult.Peat"
						readonly
					/>
				</td>
				<!--
				<td mat-footer-cell *matFooterCellDef>
					peat total here
				</td>
				-->
			</ng-container>
			<ng-container matColumnDef="Wood">
				<th mat-header-cell *matHeaderCellDef>
					Wood
				</th>
				<td mat-cell *matCellDef="let element">
					<input
						*ngIf="!isResult"
						class="area-input"
						type="number"
						[(ngModel)]="element.energyUse.Wood"
						value="element.energyUse.Wood"
					/>
					<input
						*ngIf="isResult"
						class="area-input"
						type="number"
						[(ngModel)]="element.energyUseResult.Wood"
						value="element.energyUseResult.Wood"
						readonly
					/>
				</td>
				<!--
				<td mat-footer-cell *matFooterCellDef>
					wood total here
				</td>
				-->
			</ng-container>
			<ng-container matColumnDef="Renewable">
				<th mat-header-cell *matHeaderCellDef>
					Renewable
				</th>
				<td mat-cell *matCellDef="let element">
					<input
						*ngIf="!isResult"
						class="area-input"
						type="number"
						[(ngModel)]="element.energyUse.Renewable"
						value="element.energyUse.Renewable"
					/>
					<input
						*ngIf="isResult"
						class="area-input"
						type="number"
						[(ngModel)]="element.energyUseResult.Renewable"
						value="element.energyUseResult.Renewable"
						readonly
					/>
				</td>
				<!--
				<td mat-footer-cell *matFooterCellDef>
					-
				</td>
				-->
			</ng-container>
			<ng-container matColumnDef="Heat">
				<th mat-header-cell *matHeaderCellDef>
					Heat
				</th>
				<td mat-cell *matCellDef="let element">
					<input
						*ngIf="!isResult"
						class="area-input"
						type="number"
						[(ngModel)]="element.energyUse.Heat"
						value="element.energyUse.Heat"
					/>
					<input
						*ngIf="isResult"
						class="area-input"
						type="number"
						[(ngModel)]="element.energyUseResult.Heat"
						value="element.energyUseResult.Heat"
						readonly
					/>
				</td>
				<!--
				<td mat-footer-cell *matFooterCellDef>
					heat total here
				</td>
				-->
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
			<!--
			<tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
	-->
		</table>
	</div>
</div>
