<div class="margin-bottom">
	<h4 class="margin-bottom">Change in Density</h4>

	<div class="flex-container margin-bottom">
		<div class="flex-item width-200 space-between">
			Total number of buildings
		</div>
		<div class="flex-item">
			<mat-form-field appearance="fill" class="number-input">
				<input
					matInput
					type="number"
					(change)="onTotalChanged()"
					[(ngModel)]="totalNumberOfUnits"
					value="totalNumberOfUnits"
				/>
			</mat-form-field>
		</div>
	</div>
	<div class="flex-container margin-bottom">
		<div class="flex-item width-200 space-between">
			Total floor area (m2)
		</div>
		<div class="flex-item">
			<mat-form-field appearance="fill" class="number-input">
				<input
					matInput
					type="number"
					(change)="onTotalChanged()"
					[(ngModel)]="totalFloorArea"
					value="totalFloorArea"
				/>
			</mat-form-field>
		</div>
	</div>

	<div class="flex-container margin-bottom">
		<div class="flex-item width-200 space-between">
			Current Density (%)
		</div>
		<div class="flex-item">
			<mat-form-field appearance="fill" class="number-input">
				<input
					matInput
					readonly
					[(ngModel)]="currentDensity"
					type="number"
					value="currentDensity"
				/>
			</mat-form-field>
		</div>
	</div>

	<div class="flex-container margin-bottom">
		<div class="flex-item width-200 space-between">
			Current Share of Residential units (%)
		</div>
		<div class="flex-item">
			<mat-form-field appearance="fill" class="number-input">
				<input
					matInput
					(change)="onShareOfUnitsChanged('residential')"
					[(ngModel)]="shareOfResidentialUnits"
					type="number"
					value="shareOfResidentialUnits"
				/>
			</mat-form-field>
		</div>
	</div>

	<div class="flex-container margin-bottom">
		<div class="flex-item width-200 space-between">
			Current Share of Commercial units (%)
		</div>
		<div class="flex-item">
			<mat-form-field appearance="fill" class="number-input">
				<input
					matInput
					(change)="onShareOfUnitsChanged('commercial')"
					[(ngModel)]="shareOfCommercialUnits"
					type="number"
					value="shareOfCommercialUnits"
				/>
			</mat-form-field>
		</div>
	</div>

	<div class="flex-container margin-bottom">
		<div class="flex-item width-200 space-between">
			Increase Density to (%)
		</div>
		<div class="flex-item">
			<mat-form-field appearance="fill" class="number-input">
				<input
					matInput
					[(ngModel)]="increaseInDensity"
					type="number"
					value="increaseInDensity"
				/>
			</mat-form-field>
		</div>
	</div>

	<div class="margin-bottom">
		Share of new units by type
	</div>
	<div class="flex-container">
		<div class="flex-item width-200 padding-left-10">
			Residential units (%)
		</div>
		<div class="flex-item">
			<mat-form-field appearance="fill" class="number-input">
				<input
					matInput
					[(ngModel)]="shareOfNewResidentialUnits"
					type="number"
					value="shareOfNewResidentialUnits"
				/>
			</mat-form-field>
		</div>
	</div>
	<div class="flex-container margin-bottom">
		<div class="flex-item width-200 padding-left-10">
			Commercial units (%)
		</div>
		<div class="flex-item">
			<mat-form-field appearance="fill" class="number-input">
				<input
					matInput
					[(ngModel)]="shareOfNewCommercialUnits"
					type="number"
					value="shareOfNewCommercialUnits"
				/>
			</mat-form-field>
		</div>
	</div>

	<div class="margin-bottom">
		Share of new residential units
	</div>
	<div
		class="flex-container margin-bottom"
		*ngFor="let residential of residentialBuildingsShare"
	>
		<div class="flex-item width-200 padding-left-10 ">
			{{ residential.name }}
		</div>
		<div class="flex-item width-200">
			<mat-form-field appearance="fill" class="number-input">
				<input
					matInput
					[(ngModel)]="residential.value"
					type="number"
					value="residential.value"
				/>
			</mat-form-field>
		</div>
	</div>

	<div class="margin-bottom">
		Share of new commercial units
	</div>
	<div
		class="flex-container margin-bottom"
		*ngFor="let commercial of commercialBuildingsShare"
	>
		<div class="flex-item padding-left-10 width-200">
			{{ commercial.name }}
		</div>
		<div class="flex-item width-200">
			<mat-form-field appearance="fill" class="number-input">
				<input
					matInput
					[(ngModel)]="commercial.value"
					type="number"
					value="commercial.value"
				/>
			</mat-form-field>
		</div>
	</div>
</div>
