<h4 class="margin-bottom">Densification</h4>
<table mat-table [dataSource]="dataSource">
	<ng-container matColumnDef="EnergyUse">
		<th mat-header-cell *matHeaderCellDef>
			Energy Use
		</th>
		<td mat-cell *matCellDef="let element">
			{{ element.EnergyUse }}
		</td>
		<td mat-footer-cell *matFooterCellDef class="hide">
			Total Energy Demand Mwh
		</td>
	</ng-container>

	<ng-container matColumnDef="Electricity">
		<th mat-header-cell *matHeaderCellDef>
			Electricity
		</th>
		<td mat-cell *matCellDef="let element">
			<input
				class="area-input"
				type="number"
				[(ngModel)]="element.Electricity"
				value="element.Electricity"
			/>
		</td>
		<td mat-footer-cell *matFooterCellDef class="hide">
			test
		</td>
	</ng-container>

	<ng-container matColumnDef="Gas">
		<th mat-header-cell *matHeaderCellDef>
			Gas
		</th>
		<td mat-cell *matCellDef="let element">
			<input
				class="area-input"
				type="number"
				[(ngModel)]="element.Gas"
				value="element.Gas"
			/>
		</td>
		<td mat-footer-cell *matFooterCellDef class="hide">
			test
		</td>
	</ng-container>

	<ng-container matColumnDef="Oil">
		<th mat-header-cell *matHeaderCellDef>
			Oil
		</th>
		<td mat-cell *matCellDef="let element">
			<input
				class="area-input"
				type="number"
				[(ngModel)]="element.Oil"
				value="element.Oil"
			/>
		</td>
		<td mat-footer-cell *matFooterCellDef class="hide">
			test
		</td>
	</ng-container>
	<ng-container matColumnDef="Coal">
		<th mat-header-cell *matHeaderCellDef>
			Coal
		</th>
		<td mat-cell *matCellDef="let element">
			<input
				class="area-input"
				type="number"
				[(ngModel)]="element.Coal"
				value="element.Coal"
			/>
		</td>
		<td mat-footer-cell *matFooterCellDef class="hide">
			test
		</td>
	</ng-container>
	<ng-container matColumnDef="Peat">
		<th mat-header-cell *matHeaderCellDef>
			Peat
		</th>
		<td mat-cell *matCellDef="let element">
			<input
				class="area-input"
				type="number"
				[(ngModel)]="element.Peat"
				value="element.Peat"
			/>
		</td>
		<td mat-footer-cell *matFooterCellDef class="hide">
			test
		</td>
	</ng-container>
	<ng-container matColumnDef="Wood">
		<th mat-header-cell *matHeaderCellDef>
			Wood
		</th>
		<td mat-cell *matCellDef="let element">
			<input
				class="area-input"
				type="number"
				[(ngModel)]="element.Wood"
				value="element.Wood"
			/>
		</td>
		<td mat-footer-cell *matFooterCellDef class="hide">
			test
		</td>
	</ng-container>
	<ng-container matColumnDef="Renewable">
		<th mat-header-cell *matHeaderCellDef>
			Renewable
		</th>
		<td mat-cell *matCellDef="let element">
			<input
				class="area-input"
				type="number"
				[(ngModel)]="element.Renewable"
				value="element.Renewable"
			/>
		</td>
		<td mat-footer-cell *matFooterCellDef class="hide">
			-
		</td>
	</ng-container>
	<ng-container matColumnDef="Heat">
		<th mat-header-cell *matHeaderCellDef>
			Heat
		</th>
		<td mat-cell *matCellDef="let element">
			<input
				class="area-input"
				type="number"
				[(ngModel)]="element.Heat"
				value="element.Heat"
			/>
		</td>
		<td mat-footer-cell *matFooterCellDef class="hide"></td>
	</ng-container>
	<ng-container matColumnDef="Total" class="hide">
		<th mat-header-cell *matHeaderCellDef>
			Total
		</th>
		<td mat-cell *matCellDef="let element; let i = index">
			test
		</td>
		<td mat-footer-cell *matFooterCellDef>
			test
		</td>
	</ng-container>
	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	<tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>
