<mat-label>
    <b>
        1 Change in building use
    </b>
</mat-label>
<div class="flex-container">
    <div class="flex-item">
        <mat-form-field appearance="fill">
            <mat-label>Resiential</mat-label>
            <select matNativeControl>
                <option *ngFor="let res of residetial" [value]="res.value">{{res.name}}
                </option>
            </select>
        </mat-form-field>
    </div>
    <div class="flex-item spacing">
        To
    </div>
    <div class="flex-item spacing-left">
        <mat-form-field appearance="fill">
            <mat-label>Commercial</mat-label>
            <select matNativeControl>
                <option *ngFor="let com of commercial" [value]="com.value">{{com.name}}
                </option>
            </select>
        </mat-form-field>
    </div>
    <div class="flex-item">
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Floor area in m2</mat-label>
            <input matInput type="text">
        </mat-form-field>
    </div>
</div>
<div class="flex-container">
    <div class="flex-item">
        <div class="flex-item">
            <mat-form-field appearance="fill">
                <mat-label>Commercial</mat-label>
                <select matNativeControl>
                    <option *ngFor="let com of commercial" [value]="com.value">{{com.name}}
                    </option>
                </select>
            </mat-form-field>

        </div>
    </div>
    <div class="flex-item spacing">
        To
    </div>
    <div class="flex-item spacing-left">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Resiential</mat-label>
                <select matNativeControl>
                    <option *ngFor="let res of residetial" [value]="res.value">{{res.name}}
                    </option>
                </select>
            </mat-form-field>
        </div>
    </div>
    <div class="flex-item">
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Floor area in m2</mat-label>
            <input matInput type="text">
        </mat-form-field>
    </div>
</div>