<div class="consumption-container baseline">
	<h4>1. BASELINE</h4>
	<mat-horizontal-stepper [linear]="isLinear">
		<mat-step>
			<ng-template matStepLabel>Area type and Population</ng-template>
			<area-and-population></area-and-population>
			<div class="btn-group">
				<button class="next-btn" mat-button matStepperNext>Next</button>
			</div>
		</mat-step>

		<mat-step>
			<ng-template matStepLabel icon>Household energy</ng-template>
			<div class="step-container">
				<heating-consumption></heating-consumption>
			</div>

			<div class="btn-group">
				<button
					class="previous-btn"
					mat-button
					mat-raised-button
					matStepperPrevious
				>
					Prev
				</button>

				<button
					mat-button
					mat-raised-button
					matStepperNext
					class="next-btn"
				>
					Next
				</button>
			</div>
		</mat-step>

		<mat-step>
			<ng-template matStepLabel>Transportation</ng-template>
			<div class="step-container">
				<transportation-consumption></transportation-consumption>
			</div>

			<div class="btn-group">
				<button
					class="previous-btn"
					mat-button
					mat-raised-button
					matStepperPrevious
				>
					Prev
				</button>

				<button
					mat-button
					mat-raised-button
					class="next-btn"
					(click)="createBaseline()"
				>
					Create baseline
				</button>
			</div>
		</mat-step>
	</mat-horizontal-stepper>
</div>
