<div class="building-type">
	<div class="flex-container margin-bottom">
		<div class="flex-item width-100 ">
			<h5>Building Type</h5>
		</div>
		<div class="flex-item number-input space-between">
			<h5>Total floor area (m2)</h5>
		</div>
		<div
			class="flex-item number-input space-between "
			*ngIf="showEnergyRating"
		>
			<h5>Current indicative energy efficiency rating</h5>
		</div>
		<div class="flex-item number-input " *ngIf="showEnergyRating">
			<h5>New indicative energy efficiency rating</h5>
		</div>
		<div
			class="flex-item space-between number-input"
			*ngIf="showCarbonHeatAndElectricity"
		>
			<h5>Low carbon heat</h5>
		</div>
		<div
			class="flex-item number-input"
			*ngIf="showCarbonHeatAndElectricity"
		>
			<h5>Electricity</h5>
		</div>
	</div>
	<div
		*ngFor="let building of commercialBuildingTypes"
		class="flex-container margin-bottom"
	>
		<div class="flex-item width-100 space-between padding-left-10">
			<mat-label>
				{{ building.name }}
			</mat-label>
		</div>
		<div class="flex-item number-input space-between">
			<mat-form-field appearance="fill">
				<input
					matInput
					type="number"
					[(ngModel)]="building.totalFloorArea"
					(change)="onModelChange($event)"
				/>
			</mat-form-field>
		</div>
		<div
			class="flex-item number-input space-between"
			*ngIf="showEnergyRating"
		>
			<energy-ratings
				[(selectedRating)]="building.previousEnergyRating"
			></energy-ratings>
		</div>
		<div class="flex-item width-100 space-between" *ngIf="showEnergyRating">
			<energy-ratings
				[(selectedRating)]="building.plannedEnergyRating"
			></energy-ratings>
		</div>
		<div
			class="flex-item number-input space-between"
			*ngIf="showCarbonHeatAndElectricity"
		>
			<mat-form-field appearance="fill">
				<input
					matInput
					type="number"
					[(ngModel)]="building.carbonHeat"
					(change)="onModelChange($event)"
				/>
			</mat-form-field>
		</div>
		<div
			class="flex-item number-input"
			*ngIf="showCarbonHeatAndElectricity"
		>
			<mat-form-field appearance="fill">
				<input
					matInput
					type="number"
					[(ngModel)]="building.electricity"
					(change)="onModelChange($event)"
				/>
			</mat-form-field>
		</div>
	</div>

	<div class="flex-container">
		<div class="flex-item number-input space-between">
			<mat-label>
				Total floor area
			</mat-label>
		</div>
		<div class="flex-item width-100">
			<mat-form-field appearance="fill" class="number-input">
				<input
					matInput
					type="number"
					readonly
					[(ngModel)]="totalFloorArea"
				/>
			</mat-form-field>
		</div>
	</div>
</div>
