<div class="building-type">
	<div class="flex-container margin-bottom">
		<div class="flex-item width-100 space-between">
			<h5>Building Type</h5>
		</div>
		<div class="flex-item number-input space-between">
			<h5>Total floor area (m2)</h5>
		</div>
		<div
			class="flex-item number-input space-between "
			*ngIf="showEnergyRating"
		>
			<h5>Prev. Indicative energy efficiency rating</h5>
		</div>
		<div class="flex-item number-input " *ngIf="showEnergyRating">
			<h5>Indicative energy efficiency rating</h5>
		</div>
		<div
			class="flex-item space-between "
			*ngIf="showCarbonHeatAndElectricity"
		>
			<h5>Low carbon heat</h5>
		</div>
		<div
			class="flex-item number-input"
			*ngIf="showCarbonHeatAndElectricity"
		>
			<h5>Electricity</h5>
		</div>
	</div>
	<div
		*ngFor="let building of commercialBuildingTypes"
		class="flex-container"
	>
		<div class="flex-item width-100 space-between padding-left-10">
			<mat-label>
				{{ building.name }}
			</mat-label>
		</div>
		<div class="flex-item width-100 space-between">
			<mat-form-field appearance="fill">
				<input
					matInput
					type="number"
					[(ngModel)]="building.totalFloorArea"
					(change)="onModelChange($event)"
				/>
			</mat-form-field>
		</div>
		<div class="flex-item width-100 space-between" *ngIf="showEnergyRating">
			<mat-form-field appearance="fill">
				<input
					matInput
					type="text"
					[(ngModel)]="building.previousEnergyRating"
					(change)="onModelChange($event)"
				/>
			</mat-form-field>
		</div>
		<div class="flex-item width-100 space-between" *ngIf="showEnergyRating">
			<mat-form-field appearance="fill">
				<input
					matInput
					type="text"
					[(ngModel)]="building.plannedEnergyRating"
					(change)="onModelChange($event)"
				/>
			</mat-form-field>
		</div>
		<div
			class="flex-item space-between width-100 padding-left-10"
			*ngIf="showCarbonHeatAndElectricity"
		>
			<mat-form-field appearance="fill">
				<input
					matInput
					type="text"
					[(ngModel)]="building.carbonHeat"
					(change)="onModelChange($event)"
				/>
			</mat-form-field>
		</div>
		<div class="flex-item width-100" *ngIf="showCarbonHeatAndElectricity">
			<mat-form-field appearance="fill">
				<input
					matInput
					type="text"
					[(ngModel)]="building.electricity"
					(change)="onModelChange($event)"
				/>
			</mat-form-field>
		</div>
	</div>
</div>
