@import '../../../../variables.scss';

:host {
	display: block;
	margin-bottom: 10px;
	width: 73%;
}

.card-style {
	background-color: $bg-color;
	padding: 10px 10px 4px 10px;
	border-radius: 2px;
	box-shadow: none;

	mat-label {
		display: inline-block !important;
		margin-left: 5px !important;
		padding-top: 3px !important;
	}
}

.bread-crumb {
	font-weight: 400;
	font-size: 15px;

	a {
		display: inline-block !important;
		margin-right: 10px !important;
		text-decoration: none !important;
	}
}

.project-name {
	float: left;
	color: $light-blue;
	font-weight: 400;
}

.project-status {
	text-align: right;
	font-style: italic;
}

.datasource {
	font-size: 14px;
	font-weight: 500;
	color: #000000de;
}

.padding-left-60 {
	padding-left: 60px;
}

.padding-left-60 {
	padding-left: 60px;
}
