@import '../../../../variables.scss';

:host {
	display: block;
	margin-bottom: 10px;
	width: 73%;
}

.card-style {
	background-color: $bg-color;
}

.bread-crumb {
	font-weight: 500;
	font-size: 16px;
	color: $light-blue;

	a {
		text-decoration: none;
	}
}

.project-name {
	float: left;
	color: $light-blue;
	font-weight: 400;
}

.project-status {
	text-align: right;
}

.datasource {
	padding-left: 60px;
	font-size: medium;
	font-weight: 600;
	color: $light-blue;
}
