@import '../../../../variables.scss';

:host {
	display: block;
	margin-bottom: 10px;
	width: 73%;
}

.card-style {
	background-color: $bg-color;
	padding: 10px 10px 4px 10px;
	border-radius: 2px;
	box-shadow: none;
}

.bread-crumb {
	font-weight: 500;
	font-size: 16px;
	color: $light-blue;

	a {
		text-decoration: none;
	}
}

.project-name {
	float: left;
	color: $light-blue;
	font-weight: 400;
}

.project-status {
	text-align: right;
	font-style: italic;
}

.datasource {
	font-size: 14px;
	font-weight: 500;
	color: #000000de;
}

.padding-left-60 {
	padding-left: 60px;
}
