<div class="flex-container">
	<div class="bread-crumb flex-item space-between">
		<a class="headerLink" routerLink="/dashboard">Dashboard > </a>
		<a class="headerLink" routerLink="/setup-project"
			>Setup New Project >
		</a>
		<a class="headerLink" routerLink="/module-loader">
			<b> {{ myProject.name }} </b> set up the baseline >
		</a>

		<a class="headerLink" routerLink="/result-version"
			>Result and version >
		</a>
	</div>

	<h4 class="project-status flex-item">
		{{ myProject.status === 'Draft' ? 'unpublished' : 'published' }}
	</h4>
</div>

<mat-card class="card-style margin-bottom">
	<div style="display:inline-flex">
		<mat-icon> location_on</mat-icon>
		<p>
			{{ myProject.location.country }}
		</p>
		<mat-icon class="padding-left-60"> calendar_today</mat-icon>
		<p>&nbsp;{{ myProject.startYear }}</p>
		<h6 class="datasource">Data source:&nbsp;</h6>
		<p class="padding-left-60">Default</p>
		<a class="padding-left-60" href="/setup-project">EDIT</a>
	</div>
</mat-card>

<h4 class="margin-bottom">
	Calculation modes
</h4>

<div style="display:inline-flex">
	<mat-checkbox
		color="primary"
		[checked]="myProject.territorial.landuse"
		[(ngModel)]="myProject.territorial.landuse"
		(change)="selected()"
	>
		{{ utilService.getName('landuse') }}
	</mat-checkbox>
	<mat-checkbox
		color="primary"
		class="padding-left-60"
		[checked]="myProject.territorial.traffic"
		[(ngModel)]="myProject.territorial.traffic"
		(change)="selected()"
	>
		{{ utilService.getName('traffic') }}
	</mat-checkbox>
	<mat-checkbox
		color="primary"
		class="padding-left-60"
		[checked]="myProject.territorial.buildings"
		[(ngModel)]="myProject.territorial.buildings"
		(change)="selected()"
	>
		{{ utilService.getName('buildings') }}
	</mat-checkbox>
	<mat-checkbox
		color="primary"
		class="padding-left-60"
		[checked]="myProject.consumption"
		[(ngModel)]="myProject.consumption"
		(change)="selected()"
	>
		{{ utilService.getName('consumption') }}
	</mat-checkbox>
</div>
