<div class="flex-container margin-bottom">
	<div class="bread-crumb flex-item space-between">
		<a class="headerLink" routerLink="/dashboard">Dashboard > </a>
		<a class="headerLink" routerLink="/setup-project"
			>Setup New Project >
		</a>
		<a class="headerLink" routerLink="/module-loader">
			<b> {{ myProject.name }} </b> set up the baseline >
		</a>

		<a class="headerLink" routerLink="/result-version"
			>Result and version >
		</a>
	</div>

	<mat-label class="project-status flex-item">
		{{ myProject.status === 'Draft' ? 'unpublished' : 'published' }}
	</mat-label>
</div>

<mat-card class="card-style margin-bottom">
	<div style="display:inline-flex">
		<mat-icon> location_on</mat-icon>
		<mat-label> {{ myProject.location.country }}</mat-label>

		<mat-icon class="padding-left-60"> calendar_today</mat-icon>
		<mat-label> {{ myProject.startYear }} </mat-label>

		<mat-label class="datasource padding-left-60"> Data source: </mat-label>
		<mat-label> Default </mat-label>

		<a class="padding-left-60" href="/setup-project">EDIT</a>
	</div>
</mat-card>

<h4 class="margin-bottom">
	Calculation modes
</h4>

<div style="display:inline-flex">
	<mat-checkbox
		color="primary"
		[checked]="myProject.territorial.landuse"
		[(ngModel)]="myProject.territorial.landuse"
		(change)="selected()"
	>
		{{ utilService.getName('landuse') }}
	</mat-checkbox>
	<mat-checkbox
		color="primary"
		class="padding-left-60"
		[checked]="myProject.territorial.traffic"
		[(ngModel)]="myProject.territorial.traffic"
		(change)="selected()"
	>
		{{ utilService.getName('traffic') }}
	</mat-checkbox>
	<mat-checkbox
		color="primary"
		class="padding-left-60"
		[checked]="myProject.territorial.buildings"
		[(ngModel)]="myProject.territorial.buildings"
		(change)="selected()"
	>
		{{ utilService.getName('buildings') }}
	</mat-checkbox>
	<mat-checkbox
		color="primary"
		class="padding-left-60"
		[checked]="myProject.consumption"
		[(ngModel)]="myProject.consumption"
		(change)="selected()"
	>
		{{ utilService.getName('consumption') }}
	</mat-checkbox>
</div>
