<div class="flex-container">
	<!-- Construction of new building. -->
	<div class="new-construction flex-item space-between">
		<h4 class="margin-bottom bold">Construction of the new building</h4>

		<residential-buildings
			[showNumberOfUnits]="true"
			[residentialBuildingTypes]="
				residentialBuildingTypes.newConstruction
			"
			(onResidentialBuildingsChange)="onNewConstructionChange($event)"
			class="margin-bottom"
		>
		</residential-buildings>

		<div class="margin-bottom">
			<mat-label>
				Increase in share of renewables for the new housing stock
			</mat-label>
		</div>

		<div class="flex-container">
			<div class="flex-item number-input space-between">
				<mat-label>
					% of energy from RE
				</mat-label>
			</div>

			<div class="flex-item">
				<mat-form-field appearance="fill" class="width-100">
					<input matInput type="number" />
				</mat-form-field>
			</div>
		</div>
	</div>
	<!-- Retrofit -->
	<div class="retrofit-construction flex-item">
		<h4 class="margin-bottom bold">Retrofit of buildings</h4>

		<residential-buildings
			[showNumberOfUnits]="true"
			[showEnergyRating]="true"
			[residentialBuildingTypes]="residentialBuildingTypes.retrofit"
			(onResidentialBuildingsChange)="onRetrofitChange($event)"
			class=" margin-bottom"
		>
		</residential-buildings>

		<div class="margin-bottom">
			<mat-label>
				Number of retrofit buildings supplying Space & Water Heating
				through low carbon heat and electricity
			</mat-label>
		</div>
		<div class="margin-bottom">
			<residential-buildings
				[showNumberOfUnits]="true"
				[residentialBuildingTypes]="residentialBuildingTypes.retrofit"
				[showCarbonHeatAndElectricity]="true"
				(onResidentialBuildingsChange)="onRetrofitChange($event)"
				class="margin-bottom"
			></residential-buildings>
		</div>

		<div class="margin-bottom">
			<mat-label
				>Increase in share of renewables from housing
				retrofit</mat-label
			>
		</div>
		<div class="flex-container">
			<div class="flex-item number-input space-between">
				<mat-label>
					% of energy from RE
				</mat-label>
			</div>

			<div class="flex-item">
				<mat-form-field appearance="fill" class="width-100">
					<input matInput type="number" />
				</mat-form-field>
			</div>
		</div>
	</div>
</div>
