@import '../../../../variables.scss';

.setup-body {
	padding-left: 40px;
	padding-top: 40px;
	font-size: $text-font;
}

.float {
	float: left;
}
::ng-deep.mat-form-field-flex {
	background-color: white !important;
	color: black;
}

.explanation {
	padding-left: 20px;
	padding-right: 36px;
	text-align: center;
	width: 270px;
}

.header-link {
	text-decoration: none;
	font-size: medium;
	color: $light-blue;
	font-size: 16px;
	font-weight: 500;
}

h4 {
	color: $espon-blue;
}

.fwd-arrow {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	height: 14px;
}

h2 {
	margin-top: $margin / 2;
	margin-bottom: 0px;
}

h1 {
	color: $espon-blue;
	font-weight: 500;
	margin-bottom: -6px;
}

.setup-form {
	color: white;
	width: 80%;
	background-color: $espon-blue;
	padding: $padding;

	.title {
		margin-left: $margin;
	}

	.lable-input {
		margin-top: $margin;
		margin-right: -4px;
		margin-bottom: $margin;
		margin-left: -4px;
		display: flex;
	}
}

.boxed {
	border-left: 1px solid black;
	top: -43%;
	bottom: 0;
	padding-left: 18px;
}

.boxed-down {
	border-left: 1px solid black;
	top: -43%;
	bottom: 0;
	padding-left: 219px;
	position: absolute;
}

.boxed-none {
	border-left: 0px solid black;
	top: -43%;
	bottom: 0;
	padding-left: 219px;
	position: absolute;
}

.modesLabel {
	padding-left: 0rem;
}

.moduleText {
	width: 30rem;
}

.infoIcon {
	color: $dark-green;
	padding-left: 11px;
	padding-top: 11px;
}

.setup {
	background-color: #fff;
	color: black;
	margin-left: $margin * 3;
	text-transform: uppercase;
	float: right;
}

.data-source {
	font-size: 12px;
	color: $light-gray;
}
