<div>
	<div class="flex-container">
		<div class="flex-container">
			<div class="flex-item width-200">
				<h5>End Use Of Energy</h5>
			</div>
			<div class="flex-item ">
				<h5>%</h5>
			</div>
		</div>
	</div>
	<br />
	<div
		*ngFor="let building of endUseOfEnergy"
		class="flex-container padding-left-10"
	>
		<div class="flex-container">
			<div class="flex-item width-100">
				<mat-label>
					{{ building.useType }}
				</mat-label>
			</div>
			<div class="flex-item ">
				<mat-form-field appearance="fill" class="number-input">
					<input
						matInput
						type="number"
						style="width:80%"
						[(ngModel)]="building.amount"
					/>
					<span matSufix>%&nbsp;</span>
				</mat-form-field>
			</div>
		</div>
	</div>

	<div class="flex-container">
		<div class="flex-container ">
			<div class="flex-item width-200"></div>
			<div class="flex-item ">
				<mat-label>
					{{ getTotal() | percent }}
				</mat-label>
			</div>
		</div>
	</div>
</div>
