<div class="area-population">
	<h2>
		1. Area type and Population
	</h2>

	<!-- area type -->
	<div class="flex-container">
		<div class="flex-item"></div>
		<div class="flex-item"></div>
	</div>

	<!-- population size -->
	<div class="flex-container">
		<div class="flex-item"></div>
		<div class="flex-item"></div>
	</div>

	<!-- household size -->
	<div class="flex-container">
		<div class="flex-item"></div>
		<div class="flex-item"></div>
	</div>

	<!-- average income -->
	<div class="flex-container">
		<div class="flex-item"></div>
		<div class="flex-item"></div>
	</div>
</div>
