<div class="area-population">
	<div class="flex-container ">
		<div class="flex-item width-200 space-between">
			<mat-label
				>Is the target area already existing, partially existing or
				fully new?
			</mat-label>
		</div>
		<div class="flex-item">
			<mat-form-field appearance="fill">
				<mat-select
					[(ngModel)]="selectedTargetArea"
					name="targetArea"
					(selectionChange)="onTargetAreaSelected()"
				>
					<mat-option
						*ngFor="let targetArea of targetAreas"
						[value]="targetArea"
					>
						{{ targetArea.aName }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</div>

	<div class="flex-container ">
		<div class="flex-item width-200 space-between">
			<mat-label>{{ areaTypeDefinition }}</mat-label>
		</div>
		<div class="flex-item">
			<mat-form-field appearance="fill">
				<mat-select [(ngModel)]="selectedAreaType" name="areaType">
					<mat-option
						*ngFor="let areaType of areaTypes"
						[value]="areaType.aID"
					>
						{{ areaType.aName }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</div>

	<div class="flex-container ">
		<div class="flex-item width-200 space-between">
			<mat-label>{{ populationDefinition }}</mat-label>
		</div>
		<div class="flex-item">
			<mat-form-field appearance="fill">
				<input matInput type="number" [(ngModel)]="populationSize" />
			</mat-form-field>
		</div>
	</div>

	<div class="flex-container ">
		<div class="flex-item width-200 space-between">
			<mat-label>{{ householdDefinition }}</mat-label>
		</div>
		<div class="flex-item">
			<mat-form-field appearance="fill">
				<input matInput type="number" [(ngModel)]="householdSize" />
			</mat-form-field>
		</div>
	</div>

	<div class="flex-container ">
		<div class="flex-item width-200 space-between">
			<mat-label>{{ incomeDefinition }}</mat-label>
		</div>
		<div class="flex-item">
			<mat-form-field appearance="fill">
				<mat-select
					[(ngModel)]="selectedIncomeLevel"
					name="incomeLevel"
				>
					<mat-option
						*ngFor="let incomeLevel of incomeLevels"
						[value]="incomeLevel.id"
					>
						{{ incomeLevel.name }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</div>
	<div class="flex-container ">
		<div class="flex-item width-200 space-between">
			<mat-label
				>What is the expected rate of global decarbonisation?
				(%)</mat-label
			>
		</div>
		<div class="flex-item">
			<mat-form-field appearance="fill">
				<input
					matInput
					type="number"
					[(ngModel)]="globalDecarbonization"
				/>
			</mat-form-field>
		</div>
	</div>
</div>
