<div class="module-body">
	<selectors [myProject]="myProject" (selectedValue)="getSelected($event)">
	</selectors>

	<h2 style="color:#3F51B5">
		1. Setting the baseline for each selected module
	</h2>


	<cdk-accordion
		class="module-accordion"
		*ngFor="let calcModule of projectModules"
	>
		<cdk-accordion-item
			#accordionItem="cdkAccordionItem"
			class="module-accordion-item"
			role="button"
			tabindex="0"
			id="accordion-body"
			[attr.aria-expanded]="accordionItem.expanded"
		>
			<div
				[ngClass]="calcModule"
				class="module-accordion-item-header capitalize"
				role="presentation"
				(click)="accordionItem.toggle()"
			>

				<mat-icon>done</mat-icon>
				{{ utilService.getName(calcModule) }}

				<span class="module-accordion-item-description">
					<mat-icon style="color: black" *ngIf="accordionItem.expanded">expand_less</mat-icon>
					<mat-icon style="color: black" *ngIf="!accordionItem.expanded">expand_more</mat-icon>
				</span>
			</div>

			<div
				class="module-accordion-item-body"
				role="region"
				[style.display]="accordionItem.expanded ? '' : 'none'"
				id="accordion-body"
			>

				<div [ngSwitch]="calcModule">
					<div *ngSwitchCase="'landuse'">
						<i class="text-muted margin-bottom"
							>Fill in the following information to set the
							baseline</i
						>
						<land-use-change-baseline></land-use-change-baseline>
						<button class="add-button" mat-button (click)="onAddLandUseChange()">
							+ ADD NEW
						</button>
						<div class="calculate-controls">

							<button
								mat-raised-button
								class="next-button"
								color="primary"
								(click)="calculate()"
							>

								Next
							</button>
						</div>
					</div>
					<div *ngSwitchCase="'buildings'">
						<building-energy-baseline></building-energy-baseline>

						<div class="calculate-controls">
							<button
								mat-raised-button
								class="next-button"
								color="primary"
								(click)="calculate()"
							>
								Next
							</button>
						</div>

					</div>
					<div *ngSwitchCase="'traffic'">
						<transport-baseline-v2></transport-baseline-v2>
					</div>
					<div *ngSwitchCase="'consumption'">
						<consumption-baseline></consumption-baseline>
					</div>
					<div *ngSwitchCase="'consumption'">
						<consumption-baseline></consumption-baseline>
					</div>
					<div *ngSwitchDefault class="text-warning">
						<p class="accordion-text">
							Add your calculator module
						</p>
					</div>
				</div>

				<!--
				<mat-checkbox
					style="padding-left: 45rem;"
					color="primary"
					[checked]="true"
				>
					Mark as ready
				</mat-checkbox>
                -->

				<!-- <div class="calculate-controls">
					<button
						mat-raised-button
						class="next-button"
						color="primary"
						(click)="calculate()"
					>
						Next
					</button>
				</div> -->
			</div>
		</cdk-accordion-item>
	</cdk-accordion>
</div>