<div class="module-body">
	<selectors [myProject]="myProject" (selectedValue)="getSelected($event)">
	</selectors>

	<h2 style="color:#3F51B5">
		1. Setting the baseline for each selected module
	</h2>

	<cdk-accordion
		class="module-accordion"
		*ngFor="let territorialModule of territorialModules"
	>
		<cdk-accordion-item
			#accordionItem="cdkAccordionItem"
			class="module-accordion-item"
			role="button"
			tabindex="0"
			id="accordion-body"
			[attr.aria-expanded]="accordionItem.expanded"
		>
			<div
				[ngClass]="territorialModule"
				class="module-accordion-item-header capitalize"
				role="presentation"
				(click)="accordionItem.toggle()"
			>
				<mat-icon>done</mat-icon>
				{{ territorialModule }}
				<span class="module-accordion-item-description">
					<mat-icon
						style="color: black"
						*ngIf="accordionItem.expanded"
						>expand_less</mat-icon
					>
					<mat-icon
						style="color: black"
						*ngIf="!accordionItem.expanded"
						>expand_more</mat-icon
					>
				</span>
			</div>
			<div
				class="module-accordion-item-body"
				role="region"
				[style.display]="accordionItem.expanded ? '' : 'none'"
				id="accordion-body"
			>
				<div [ngSwitch]="territorialModule">
					<div *ngSwitchCase="'landuse'">
						<land-use-change-baseline></land-use-change-baseline>
						<button
							class="add-button"
							mat-button
							(click)="onAddLandUseChange()"
						>
							+ ADD NEW
						</button>
					</div>
					<div *ngSwitchCase="'buildings'">
						<building-energy-baseline></building-energy-baseline>
					</div>
					<div *ngSwitchCase="'traffic'">
						<transport-baseline></transport-baseline>
					</div>
					<div *ngSwitchDefault class="text-warning">
						<p class="accordion-text">
							When calculating the land-use change the baseline is
							set to zero by default
						</p>
					</div>
				</div>

				<!--
				<mat-checkbox
					style="padding-left: 45rem;"
					color="primary"
					[checked]="true"
				>
					Mark as ready
				</mat-checkbox>
                -->

				<div class="calculate-controls">
					<button
						mat-raised-button
						class="next-button"
						color="primary"
						(click)="calculate()"
					>
						Next
					</button>
				</div>
			</div>
		</cdk-accordion-item>
	</cdk-accordion>

	<cdk-accordion class="module-accordion">
		<cdk-accordion-item
			#accordionItem="cdkAccordionItem"
			class="module-accordion-item"
			role="button"
			tabindex="0"
			id="accordion-body"
			[attr.aria-expanded]="accordionItem.expanded"
		>
			<div
				class="consumption module-accordion-item-header"
				role="presentation"
				(click)="accordionItem.toggle()"
			>
				<mat-icon>done</mat-icon>
				Consumption
				<span class="module-accordion-item-description">
					<mat-icon
						style="color: black"
						*ngIf="accordionItem.expanded"
						>expand_less</mat-icon
					>
					<mat-icon
						style="color: black"
						*ngIf="!accordionItem.expanded"
						>expand_more</mat-icon
					>
				</span>
			</div>
			<div
				class="module-accordion-item-body"
				role="region"
				[style.display]="accordionItem.expanded ? '' : 'none'"
				id="accordion-body"
			>
				<consumption-baseline></consumption-baseline>
			</div>
		</cdk-accordion-item>
	</cdk-accordion>
</div>
