.moduleBody{
	padding-left: 40px;
    padding-top: 40px;
}
.headerLink{
    text-decoration: none;
    font-size: medium;
    color: #3F51B5;
	font-size: 16px;
	font-weight: 500;
}
h4{
	color: #3F51B5;
}
.projectName{
    float: left;
    color: #3F51B5;
    font-weight: 600;
}
.datasource{
    padding-left: 60px;
    font-size: medium;
    font-weight: 600;
    color: #3F51B5;
}