<div class="dashboard-body">
	<a class="title">GGIA Dashboard</a>

	<h3 class="intro-title">Welcome to GGIA tool!</h3>
	<p class="intro-text">
		The ESPON GGIA tool is designed to quantify the climate impact of
		<b>spatial plans </b> and <b>policies</b> in territories, cities and
		municipalities all over Europe. GGIA provides two alternative modes for
		greenhouse gas (GHG) emissions quantification:
		<b>Territorial mode </b> consists of sectoral modules and quantifies the
		direct GHG emissions caused within the boundaries of the area in
		concern. <b>Consumption-based mode </b> quantifies the GHG emissions
		caused by the consumption of the residents of the area, wherever these
		emission may occur. The results of consumption-based quantification
		cover all sectors of consumption and are directly comparable.​
	</p>
	<p class="intro-steps">
		The first step is to create a <b>baseline </b> – to estimate the
		absolute emissions of the area. ​
		<br />
		The second step is to quantify
		<b> the impact of a plan or a policy </b>.
	</p>
	<p class="intro-text">
		​You can start calculation without any expert knowledge on GHG
		quantification. For more accurate results, the experts in Your
		organisation can create a local dataset and upload it in the GGIA tool.
		This way the quantification can be aligned with the previous GHG
		analyses of the region, and the most accurate source data is available.
		The local datasets are not validated but they are available for all
		users of the tool. GGIA enables comparison of best practises and policy
		impacts across the regions of Europe.​ As the quantification results are
		estimates that highly depend on the input values, the provider of GGIA,
		ESPON EGTC, cannot guarantee the authenticity of the results and cannot
		be held responsible for any decisions taken based on the results from
		the GGIA tool. ESPON GGIA source code is available in GitHub. ​
	</p>
	<div>
		<!--
		<mat-form-field class="full-width" appearance="fill">
			<input
				matInput
				type="text"
				placeholder="search by name,country, area, tag or ID"
			/>
			<button matSuffix mat-icon-button aria-label="search">
				<mat-icon color="primary">search</mat-icon>
			</button>
		</mat-form-field>
		-->
	</div>
	<br />
	<br />
	<div>
		<h4 class="page-title">Your Projects</h4>
		<hr />
	</div>
	<br />

	<mat-grid-list cols="4" rowHeight="100px">
		<mat-grid-tile colspan="1" rowspan="2" style.background="black">
			<mat-card class="cards">
				<div class="setup-project" routerLink="/setup-project">
					Setup a new Project
					<br />
					<br />
					<br />
					<p>
						<mat-icon>add</mat-icon>
					</p>
				</div>
			</mat-card>
		</mat-grid-tile>
		<mat-grid-tile
			*ngFor="let project of myProjects | slice:0:show let i=index"
			colspan="1"
			rowspan="2"
			style.background="black"
		>
			<mat-card class="ncards">
				<div class="setup-project">
					<mat-icon> location_on</mat-icon>
					{{project.name}}
				</div>
			</mat-card>
		</mat-grid-tile>
	</mat-grid-list>
	<button
		mat-flat-button
		class="limit-button"
		*ngIf="show == 4"
		(click)="show = myProjects.length"
	>
		Show More
	</button>
	<button
		mat-flat-button
		class="limitButton"
		*ngIf="show > 4"
		(click)="show = 4"
	>
		Show Less
	</button>

	<div>
		<h4 class="page-title">All Projects</h4>
		<hr />
	</div>
	<mat-grid-list cols="4" rowHeight="100px">
		<mat-grid-tile
			*ngFor="let project of allProjects"
			colspan="1"
			rowspan="2"
		>
			<mat-card class="ncards">
				<mat-icon> location_on</mat-icon>
				{{project.name}}
			</mat-card>
		</mat-grid-tile>
	</mat-grid-list>
</div>
