.create-project {
	color: #616161;
	transition: box-shadow 135ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
	box-shadow: 0 1px 1px 0 rgb(66 66 66 / 8%),
		0 1px 3px 1px rgb(66 66 66 / 16%);
	width: 240px;
	border-radius: 3px;
	margin: 16px;
	text-align: center;
	min-height: 100px;
}
.title{
	color: #3F51B5;
	margin: 5px;
	font-size: 13px;
}
.introTitle{
	color: #324191;
	text-align: center;
}
.introText{
	text-align: center;
	padding-right: 30rem;
	padding-left: 30rem;
	font-size: 11px
}
.example-form {
	min-width: 150px;
	max-width: 500px;
	width: 100%;
  }
  
  .full-width {
	width: 25%;
	float: right;
	padding-right: 30px;
  }
  .pageTitle{
	color: #324191;
	margin-left: 21px;
  }
  .cards{
	width: 18%;
    background-color: #324191;
    height: 8rem;
    text-align: center;
    color: white;
    font-size: 20px;
  }