@import '../../../../variables.scss';

.create-project {
	color: $dark-gray;
	transition: box-shadow 135ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
	box-shadow: 0 1px 1px 0 rgb(66 66 66 / 8%),
		0 1px 3px 1px rgb(66 66 66 / 16%);
	width: 240px;
	border-radius: 3px;
	margin: $margin;
	text-align: center;
	min-height: 100px;
}

.title {
	color: $light-blue;
	margin: $margin * 2;
	font-size: 13px;
}

.intro-title {
	color: $light-blue;
	text-align: center;
}

.intro-text {
	text-align: center;
	padding-right: 14rem;
	padding-left: 14rem;
	font-size: 11px;
}

.dashboard-body {
	margin-top: $margin * 2;
	margin-left: $margin;
}

.full-width {
	width: 25%;
	float: right;
	padding-right: 30px;
	padding-top: 12px;
}

.page-title {
	color: $light-blue;
	margin-left: $margin + 5;
}

.cards {
	width: 75%;
	background-color: $light-blue;
	height: 8rem;
	text-align: center;
	color: white;
	font-size: 20px;
}

.ncards {
	width: 75%;
	background-color: $gray;
	height: 8rem;
	color: $light-blue;
	font-size: 15px;
}

.limit-button {
	margin-left: 50%;
	color: $light-blue;
	background-color: $light-gray;
}

.setup-project {
	cursor: pointer;
}
