<div class="dashboard-body">
	<a class="title">GGIA Dashboard</a>

	<h3 class="intro-title">Welcome to GGIA tool!</h3>
	<p class="intro-text">
		Lorem Ipsum is simply dummy text of the printing and typesetting
		industry. 7 Lorem Ipsum has been the industry's standard dummy text ever
		since the 1500s, when an unknown printer took a galley of type and
		scrambled it to make a type specimen book. It has survived not only five
		centuries, but also the leap into electronic typesetting, remaining
		essentially unchanged. Lorem Ipsum is simply dummy text of the printing
		and typesetting industry. 7 Lorem Ipsum has been the industry's standard
		dummy text ever since the 1500s, when an unknown printer took a galley
		of type and scrambled it to make a type specimen book. It has survived
		not only five centuries, but also the leap into electronic typesetting,
		remaining essentially unchanged.
	</p>
	<div>
		<mat-form-field class="full-width" appearance="fill">
			<input
				matInput
				type="text"
				placeholder="search by name,country, area, tag or ID"
			/>
			<button matSuffix mat-icon-button aria-label="search">
				<mat-icon color="primary">search</mat-icon>
			</button>
		</mat-form-field>
	</div>
	<br />
	<br />
	<div>
		<h3 class="page-title"><b> Your Projects</b></h3>
		<hr />
	</div>
	<br />

	<mat-grid-list cols="4" rowHeight="100px">
		<mat-grid-tile colspan="1" rowspan="2" style.background="black">
			<mat-card class="cards">
				<div class="setup-project" routerLink="/setup-project">
					Setup a new Project
					<br />
					<br />
					<br />
					<p>
						<mat-icon>add</mat-icon>
					</p>
				</div>
			</mat-card>
		</mat-grid-tile>
		<mat-grid-tile
			*ngFor="let project of myProjects | slice:0:show let i=index"
			colspan="1"
			rowspan="2"
			style.background="black"
		>
			<mat-card class="ncards">
				<div class="setup-project">
					<mat-icon> location_on</mat-icon>
					{{project.name}}
				</div>
			</mat-card>
		</mat-grid-tile>
	</mat-grid-list>
	<button
		mat-flat-button
		class="limit-button"
		*ngIf="show == 4"
		(click)="show = myProjects.length"
	>
		Show More
	</button>
	<button
		mat-flat-button
		class="limitButton"
		*ngIf="show > 4"
		(click)="show = 4"
	>
		Show Less
	</button>

	<div>
		<h3 class="pageTitle"><b> All Projects</b></h3>
		<hr />
	</div>
	<mat-grid-list cols="4" rowHeight="100px">
		<mat-grid-tile
			*ngFor="let project of allProjects"
			colspan="1"
			rowspan="2"
		>
			<mat-card class="ncards">
				<mat-icon> location_on</mat-icon>
				{{project.name}}
			</mat-card>
		</mat-grid-tile>
	</mat-grid-list>
</div>
