@import '../../../../variables.scss';

.line-chart-container {
	background-color: $light-gray;
}

table {
	width: 80% !important;
}

.double-space-between {
	margin-right: $margin * 2;
}

.wide-space-between {
	margin-right: $margin * 4;
}

mat-horizontal-stepper {
	background-color: transparent !important;
}

.version-accordion {
	width: 98% !important;
}

.year-selector {
	mat-form-field {
		width: 100px !important;
	}
}
