<div class="flex-container">
	<div class="flex-item space-between">
		<h4>From</h4>
		<mat-form-field appearance="fill">
			<mat-select
				[(ngModel)]="fromSelectedLandType"
				name="fromlandType"
				(selectionChange)="onFromLandTypeSelected()"
			>
				<mat-option
					*ngFor="let landType of landTypes"
					[value]="landType"
				>
					{{ landType }}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>

	<div class="flex-item">
		<h4>To</h4>
		<mat-form-field appearance="fill">
			<mat-select
				[(ngModel)]="toSelectedLandType"
				name="tolandType"
				(selectionChange)="onToLandTypeSelected()"
			>
				<mat-option
					*ngFor="let landType of landTypes"
					[value]="landType"
				>
					{{ landType }}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
</div>
