@import '../../../../mixins.scss';

.summary {
	margin-bottom: 10px;
}

.table-title {
	background-color: #e4e4e8;
	padding-left: 18px;
	padding-top: 23px;
	padding-bottom: 1px;
}

table {
	background-color: #e4e4e8 !important;
}

tr.mat-footer-row {
	font-weight: bold;
}

.mat-grid-tile .mat-figure {
	align-items: end !important;
	justify-content: end !important;
}

.version-accordion {
	display: block;
}

.color-green,
.color-green:hover {
	background-color: #6dab36;
}

.grayLabel {
	padding-left: 80px;
	font-weight: 800;
	color: #cecece;
}

.panel-content {
	padding-left: 30px;
	color: #3f51b5;
}

.infoTextRight {
	padding-left: 20rem;
	line-height: 7px !important;
}

.delete-button {
	margin-left: 41rem;
	color: #d8d8d8;
}

.area-input {
	width: 50px;
	height: 25px;
	text-align: center;
}

th.mat-header-cell,
td.mat-cell {
	text-align: center;
}

.version-summary {
	width: 230px;
}

.carbon-stock-table {
	background-color: #f5f5f5 !important;
}

@include mat-table-columns(
	(
		From: (
			width: 100px,
		),
		To: (
			width: 100px,
		),
		Organic-soil: (
			width: 50px,
		),
		Mineral-soil: (
			width: 50px,
		),
		Total: (
			width: 50px,
		),
		Aboveground: (
			width: 50px,
		),
		Belowground: (
			width: 50px,
		),
		Deadwood: (
			width: 50px,
		),
		Litter: (
			width: 50px,
		),
		Mineral: (
			width: 50px,
		),
		Organic: (
			width: 50px,
		),
	)
);
