@import '../../../../variables.scss';

.baseline {
	display: block;
	padding-top: 2%;
}

.step-container {
	margin: auto;
}

mat-horizontal-stepper {
	background-color: transparent !important;
}

.space-between {
	margin-right: 100px;
}

.btn-group {
	float: right;
}

.next-btn {
	background-color: $dark-blue;
	color: #fff;
	text-transform: uppercase;
}

.previous-btn {
	background-color: $light-gray;
	color: $light-blue;
	text-transform: uppercase;
	margin-right: 20px;
}

.area-Input {
	width: 48%;
	padding-left: 2rem;
}

.float {
	float: left;
}

.numberInput {
	width: 40%;
}

.area-population {
	.flex-item:first-of-type {
		min-width: 280px !important;
	}
}

.consumption-items {
	min-width: 70%;
}
.construction {
	width: 280px;
}
