<div class="consumption-container">
	<h4>1. BASELINE</h4>
	<mat-horizontal-stepper [linear]="isLinear">
		<mat-step>
			<ng-template matStepLabel>Area type and Population</ng-template>
			<h2 class="lableInput">
				1. Area type and Population
			</h2>
			<div class="flex-container">
				<div class="flex-item float">
					<mat-label>
						<p class="lableInput">
							1.1 Define existing area type
						</p>
					</mat-label>
					<mat-form-field appearance="fill">
						<mat-label>Area type</mat-label>
						<mat-select
							[(ngModel)]="selectedAreaType"
							name="areaType"
						>
							<mat-option
								*ngFor="let areaType of areaTypes"
								[value]="areaType.aID"
							>
								{{ areaType.aName }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div class="flex-item float population">
					<!-- population size -->
					<div>
						<mat-label>
							<p class="lableInput">
								2.1 Existing number of population
							</p>
						</mat-label>
						<mat-form-field appearance="fill">
							<mat-label>Existing number of population</mat-label>
							<input
								matInput
								type="number"
								[(ngModel)]="existingPopulation"
							/>
						</mat-form-field>
					</div>

					<!-- household size -->
					<div>
						<mat-label>
							<p class="lableInput">
								2.3. Existing average size of the household
							</p>
						</mat-label>
						<mat-form-field appearance="fill">
							<i
								>This value comes from the used data set, click
								to edit</i
							>
							<input
								matInput
								type="number"
								[(ngModel)]="existingHouseholdSize"
							/>
						</mat-form-field>
					</div>
					<!-- income level-->
					<div>
						<mat-label>
							<p class="lableInput">
								2.5 Existing average income level
							</p>
						</mat-label>
						<mat-form-field appearance="fill">
							<mat-label>Existing average income level</mat-label>
							<mat-select
								[(ngModel)]="selectedIncomeLevel"
								name="incomeLevel"
							>
								<mat-option
									*ngFor="let incomeLevel of incomeLevels"
									[value]="incomeLevel.id"
								>
									{{ incomeLevel.name }}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="btn-group">
				<button class="next-btn" mat-button matStepperNext>Next</button>
			</div>
		</mat-step>

		<mat-step [stepControl]="secondFormGroup">
			<ng-template matStepLabel>Transportation</ng-template>
			<div class="step-container">
				<div>
					<!-- mode of transportation -->
					<h2>
						4.1 Existing modes of transport
					</h2>
					<i>
						This value comes from the used data set, click to
						edit</i
					>
					<div>
						<br />
						<div class="flex-container">
							<div class="flex-item width-200 space-between">
								<mat-label>
									<p class="lableInput">
										Public transportation, %
									</p>
								</mat-label>
							</div>
							<div class="flex-item">
								<mat-form-field
									appearance="fill"
									class="numberInput"
								>
									<input
										matInput
										type="number"
										[(ngModel)]="publicTransportation"
									/>
								</mat-form-field>
							</div>
						</div>
						<div class="flex-container">
							<div class="flex-item width-200 space-between">
								<mat-label>
									<p class="lableInput">
										Private cars, %
									</p>
								</mat-label>
							</div>
							<div class="flex-item">
								<mat-form-field
									appearance="fill"
									class="numberInput"
								>
									<input
										matInput
										type="number"
										[(ngModel)]="privateCars"
									/>
								</mat-form-field>
							</div>
						</div>
					</div>

					<!-- electric cars-->
					<div>
						<mat-label>
							<h2 class="lableInput lowerTitle">
								4.3 Existing share of electric vehicles of the
								area, % / all the vehicles
							</h2>
						</mat-label>

						<div class="flex-container">
							<div class="flex-item width-200 space-between">
								<mat-label>
									<p class="lableInput">
										The share of electric vehicles, %
									</p>
								</mat-label>
							</div>
							<div class="flex-item">
								<mat-form-field
									appearance="fill"
									class="numberInput"
								>
									<input
										matInput
										type="number"
										[(ngModel)]="electricVehicle"
									/>
								</mat-form-field>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="btn-group">
				<button
					class="previous-btn"
					mat-button
					mat-raised-button
					matStepperPrevious
				>
					Prev
				</button>

				<button
					mat-button
					mat-raised-button
					class="next-btn"
					matStepperNext
				>
					Next
				</button>
			</div>
		</mat-step>

		<mat-step>
			<ng-template matStepLabel icon>Energy</ng-template>
			<div class="step-container">
				<div>
					<!-- energy -->
					<div>
						<mat-label>
							<h2 class="lableInput">
								5.1 Existing heating types of the area
							</h2>
						</mat-label>
						<i
							>This value comes from the used data set, click to
							edit</i
						>
						<br />
						<br />
						<div class="flex-container">
							<div class="flex-item width-200 space-between">
								<mat-label>
									<p class="lableInput">
										Electricity, %
									</p>
								</mat-label>
							</div>
							<div class="flex-item">
								<mat-form-field
									appearance="fill"
									class="numberInput"
								>
									<input
										matInput
										type="number"
										[(ngModel)]="electricity"
									/>
								</mat-form-field>
							</div>
						</div>
						<div class="flex-container">
							<div class="flex-item width-200 space-between">
								<mat-label>
									<p class="lableInput">
										Heat pumps, %
									</p>
								</mat-label>
							</div>
							<div class="flex-item">
								<mat-form-field
									appearance="fill"
									class="numberInput"
								>
									<input
										matInput
										type="number"
										[(ngModel)]="heatPumps"
									/>
								</mat-form-field>
							</div>
						</div>
						<div class="flex-container">
							<div class="flex-item width-200 space-between">
								<mat-label>
									<p class="lableInput">
										Oil, %
									</p>
								</mat-label>
							</div>
							<div class="flex-item">
								<mat-form-field
									appearance="fill"
									class="numberInput"
								>
									<input
										matInput
										type="number"
										[(ngModel)]="oil"
									/>
								</mat-form-field>
							</div>
						</div>
						<div class="flex-container">
							<mat-form-field appearance="fill">
								<mat-label
									>Existing average fuel type</mat-label
								>
								<mat-select
									[(ngModel)]="selectedFuelType"
									name="fuelType"
								>
									<mat-option
										*ngFor="let fuelType of fuelTypes"
										[value]="fuelType.id"
									>
										{{ fuelType.name }}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
					</div>

					<!-- existing fuel type consumption -->
					<div>
						<mat-label>
							<h2 class="lableInput">
								5.1 Existing fuel type consumption of the area
							</h2>
						</mat-label>

						<div class="flex-container">
							<div class="flex-item width-200 space-between">
								<mat-label>
									<p class="lableInput">
										Fuel consumption in total, metric
									</p>
								</mat-label>
							</div>
							<div class="flex-item">
								<mat-form-field
									appearance="fill"
									class="numberInput"
								>
									<input
										matInput
										type="number"
										[(ngModel)]="totalFuelConsumption"
									/>
								</mat-form-field>
							</div>
						</div>
						<div class="flex-container">
							<div class="flex-item width-200 space-between">
								<mat-label>
									<p class="lableInput">
										Fuel type 1, metric
									</p>
								</mat-label>
							</div>
							<div class="flex-item">
								<mat-form-field
									appearance="fill"
									class="numberInput"
								>
									<input
										matInput
										type="number"
										[(ngModel)]="fuelType1"
									/>
								</mat-form-field>
							</div>
						</div>
						<div class="flex-container">
							<div class="flex-item width-200 space-between">
								<mat-label>
									<p class="lableInput">
										Fuel type 2, metric
									</p>
								</mat-label>
							</div>
							<div class="flex-item">
								<mat-form-field
									appearance="fill"
									class="numberInput"
								>
									<input
										matInput
										type="number"
										[(ngModel)]="fuelType2"
									/>
								</mat-form-field>
							</div>
						</div>
						<div class="flex-container">
							<div class="flex-item width-200 space-between">
								<mat-label>
									<p class="lableInput">
										Fuel type 3, metric
									</p>
								</mat-label>
							</div>
							<div class="flex-item">
								<mat-form-field
									appearance="fill"
									class="numberInput"
								>
									<input
										matInput
										type="number"
										[(ngModel)]="fuelType3"
									/>
								</mat-form-field>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="btn-group">
				<button
					class="previous-btn"
					mat-button
					mat-raised-button
					matStepperPrevious
				>
					Prev
				</button>

				<button mat-button mat-raised-button class="next-btn">
					Create a baseline
				</button>
			</div>
		</mat-step>
	</mat-horizontal-stepper>
</div>
