@import '../../../../variables.scss';

.baseline {
	display: block;
	padding-left: 2%;
	padding-top: 2%;
	padding-right: 2%;
}
.step-container {
	margin: auto;
}

mat-horizontal-stepper {
	background-color: transparent !important;
}

.space-between {
	margin-right: 100px;
}

.btn-group {
	float: right;
}

.next-btn {
	background-color: $dark-blue;
	color: #fff;
	text-transform: uppercase;
}

h4 {
	color: $light-blue;
	font-weight: 500;
	padding-top: 12px;
	padding-left: 4rem;
}

mat-horizontal-stepper {
	background-color: $light-gray;
	color: $light-blue;
}

.previous-btn {
	background-color: $light-gray;
	color: $light-blue;
	text-transform: uppercase;
	margin-right: 20px;
}

.float {
	float: left;
}

.population {
	padding-left: 11rem;
}

.lowerTitle {
	width: 66%;
}

.numberInput {
	width: 40%;
}

.flex-item {
	margin-bottom: 10px;
}

.area-population {
	.flex-item:first-of-type {
		min-width: 280px !important;
	}
}

.transportation-consumption {
	.flex-item:first-of-type {
		min-width: 260px !important;
	}
}

.consumption-items {
	min-width: 70%;
}
.construction {
	width: 280px;
}
