<div class="step land-use-step">
	<h2>Area and land use change</h2>
	<form>
		<mat-label>2.1 Choose the appropriate land-use change</mat-label>

		<mat-label>
			2.2 Default (country-specific) or location-specific emission factors
		</mat-label>
		<!-- *ngIf="fromSelectedLandType && toSelectedLandType" -->

		<div>
			<emission-factors></emission-factors>
		</div>

		<div>
			<mat-label>2.3 Insert area of each land-use change (ha):</mat-label>
			<div class="flex-container">
				<div class="flex-item">
					<mat-label> Organic soil </mat-label>
					<input type="number" />
				</div>
				<div class="flex-item">
					<mat-label> </mat-label>
					<div class="sign">+</div>
				</div>
				<div class="flex-item">
					<mat-label> Mineral soil </mat-label>
					<input type="number" />
				</div>
				<div class="flex-item">
					<mat-label> </mat-label>
					<div class="sign">=</div>
				</div>
				<div class="flex-item">
					<mat-label> Total</mat-label>
					<div class="sign">result</div>
				</div>
			</div>
		</div>
	</form>
</div>
