.grayLabel{
    padding-left: 80px;
    font-weight: 800;
    color: #CECECE;
}

.panel-content{
    padding-left: 30px;
    color: #3F51B5;
}
.infoTextRight{
    padding-left: 20rem; 
    line-height: 7px !important;
  }
  .mat-form-field {
    width: 43%;
  }
  .deletButton{
    margin-left: 41rem; color: #D8D8D8;
  }