@import '../../../../variables.scss';

.table-container[_ngcontent-nud-c276] {
	width: 97% !important;
}

.version-accordion {
	display: block;
	max-width: 72rem;
	padding: 10px;
}

.version-accordion-item-body {
	padding: 10px;
}

.color-green,
.color-green:hover {
	background-color: $light-green;
}

.color-purple,
.color-purple:hover {
	background-color: $light-blue;
}

mat-expansion-panel {
	max-width: 50rem;
}

table {
	width: 20rem;
	background-color: $bg-color !important;
}

tr.mat-footer-row {
	font-weight: bold;
}
.mat-grid-tile .mat-figure {
	align-items: end !important;
	justify-content: end !important;
}
.internalMatGrid {
	min-width: 112%;
}

.landuse-result {
	background-color: $light-gray;
	display: block;
}

.buildings-result {
	background-color: $light-gray;
	display: block;
}

.add-new-version {
	background-color: $light-green;
	color: #fff;
	margin-top: $margin;
	margin-bottom: $margin;
	text-transform: uppercase;
}

.mat-tab-link {
	color: white;
	text-transform: capitalize !important;
}
/*
.landuse {
	.mat-tab-label,
	.mat-tab-link {
		background-color: $light-green !important;
		width: 150px !important;
		margin-right: 8px !important;
	}
}

.consumption {
	.mat-tab-label,
	.mat-tab-link {
		background-color: $dark-blue !important;
	}
}
*/
