.table-container[_ngcontent-nud-c276] {
	width: 97% !important;
}

.version-accordion {
	display: block;
	max-width: 72rem;
	padding: 10px;
}

.version-accordion-item-body {
	padding: 10px;
}

.color-green,
.color-green:hover {
	background-color: #6dab36;
}

.color-purple,
.color-purple:hover {
	background-color: #696ee2;
}

mat-expansion-panel {
	max-width: 50rem;
}

table {
	width: 20rem;
	background-color: #e4e4e8 !important;
}

tr.mat-footer-row {
	font-weight: bold;
}
.mat-grid-tile .mat-figure {
	align-items: end !important;
	justify-content: end !important;
}
.internalMatGrid {
	min-width: 112%;
}

.landuse-result {
	background-color: #f5f5f5;
	display: block;
}

.add-new-version {
	background-color: #6bac2b;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.mat-tab-link {
	color: white;
	text-transform: capitalize !important;
}

.landuse {
	.mat-tab-label,
	.mat-tab-link {
		background-color: #6bac2b !important;
	}
}

.consumption {
	.mat-tab-label,
	.mat-tab-link {
		background-color: #1c294e !important;
	}
}
