<form>
  <h4>Country:</h4>
  <mat-form-field appearance="fill">
    <mat-select
      [(ngModel)]="selectedCountry"
      name="country"
      (selectionChange)="onCountrySelected($event)"
    >
      <mat-option
        *ngFor="let country of countries"
        [value]="country.countryName"
      >
        {{ country.countryName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h4>Region:</h4>
  <mat-form-field appearance="fill">
    <mat-select
      [(ngModel)]="selectedRegion"
      name="region"
      (selectionChange)="onRegionSelected($event)"
    >
      <mat-option *ngFor="let region of country?.regions" [value]="region.name">
        {{ region.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>

<mat-card *ngIf="isDataFound">
  <small>There is location specific dataset available for this location!</small>
</mat-card>
