<div class="margin-bottom">
	<h3>Population and building types</h3>
	<i class="text-muted">Fill in the folowing information to set the baseline</i>
</div>

<div class="building-baseline-container">
	<h3>1. Populations</h3>
	<div class="label-left">
		<mat-label>1.1 Number of the populations of the area</mat-label>
	</div>
	<div class="label-left">
		<mat-form-field appearance="fill">
			<mat-label>Number of population</mat-label>
			<input matInput type="number" />
		</mat-form-field>
	</div>

	<mat-horizontal-stepper [linear]="false">
		<mat-step>
			<ng-template matStepLabel>Population and Buildings</ng-template>

			<div class="flex-container">
				<div class="flex-item  retrofit-construction">
					<h3>2. Buildings</h3>
					<div class="margin-bottom label-left">
						<mat-label>2.1 Residential buildings</mat-label>
					</div>
					<div class="flex-container label-left">
						<div class="flex-item width-250">
							<mat-label>
								2.1.1 Total number of housing units
							</mat-label>
						</div>
						<div class="flex-item ">
							<mat-form-field appearance="fill" class="number-input">
								<input matInput type="number" />
							</mat-form-field>
						</div>
					</div>
					<div class="label-left">
						<residential-buildings [isBaseLine]="true" [showNumberOfUnits]="true" class="margin-bottom">
						</residential-buildings>
					</div>
				</div>

				<div class="flex-item">
					<div class="margin-bottom label-left">
						<mat-label>2.2 Commercial buildings</mat-label>
					</div>

					<div class="label-left">
						<commercial-buildings [isBaseLine]="true" class="label-left"></commercial-buildings>
					</div>
				</div>
			</div>


			<div class="btn-group">
				<button mat-button mat-raised-button class="next-btn" matStepperNext>
					Next
				</button>
			</div>
		</mat-step>

		<mat-step>
			<ng-template matStepLabel icon>Detailed Building Stock</ng-template>
			<div class="flex-container">
				<div class="flex-item  retrofit-construction">
					<h3>2. Buildings</h3>
					<div class="margin-bottom label-left">
						<mat-label>2.1 Residential buildings</mat-label>
					</div>
					<div class="flex-container label-left">
						<div class="flex-item width-250">
							<mat-label>
								2.1.1 Total number of housing units
							</mat-label>
						</div>
						<div class="flex-item ">
							<mat-form-field appearance="fill" class="number-input">
								<input matInput type="number" />
							</mat-form-field>
						</div>
					</div>
					<div class="label-left">
						<residential-buildings [isBaseLine]="true" [showNumberOfUnits]="true" class="margin-bottom">
						</residential-buildings>
					</div>
				</div>

				<div class="flex-item">
					<div class="margin-bottom label-left">
						<mat-label>2.2 Commercial buildings</mat-label>
					</div>

					<div class="label-left">
						<commercial-buildings [isBaseLine]="true" class="label-left"></commercial-buildings>
					</div>
				</div>
			</div>

			<end-use-of-energy></end-use-of-energy>

			<div class="btn-group">
				<button class="previous-btn" mat-button mat-raised-button matStepperPrevious>
					Previous
				</button>
				<button mat-button mat-raised-button class="next-btn">
					save
				</button>
			</div>
		</mat-step>
	</mat-horizontal-stepper>

</div>
