<div class="building-energy-baseline">
	<i class="text-muted margin-bottom"
		>Fill in the following information to set the baseline</i
	>
	<mat-horizontal-stepper [linear]="false">
		<mat-step>
			<ng-template matStepLabel>Population and Buildings</ng-template>

			<div class="flex-container">
				<div class="flex-item  retrofit-construction">
					<div class="margin-bottom label-left">
						<h4 class="bold">Residential buildings</h4>
					</div>
					<div class="flex-container label-left">
						<div class="flex-item width-200">
							<mat-label>
								Total number of housing units
							</mat-label>
						</div>
						<div class="flex-item ">
							<mat-form-field
								appearance="fill"
								class="number-input"
							>
								<input matInput type="number" />
							</mat-form-field>
						</div>
					</div>
					<div class="label-left">
						<residential-buildings
							[isBaseLine]="true"
							[showNumberOfUnits]="true"
							class="margin-bottom"
						>
						</residential-buildings>
					</div>
				</div>

				<div class="flex-item">
					<div class="margin-bottom label-left">
						<h4 class="bold">Commercial buildings</h4>
					</div>

					<div class="label-left">
						<commercial-buildings
							[isBaseLine]="true"
							class="label-left"
						></commercial-buildings>
					</div>
				</div>
			</div>

			<div class="btn-group">
				<button
					mat-button
					mat-raised-button
					class="next-btn"
					matStepperNext
				>
					Next
				</button>
			</div>
		</mat-step>

		<mat-step>
			<ng-template matStepLabel icon>Detailed Building Stock</ng-template>
			<div class="flex-container">
				<div class="flex-item  retrofit-construction">
					<h4 class="margin-bottom bold">Residential buildings</h4>
					<div class="flex-container label-left">
						<div class="flex-item width-250">
							<mat-label>
								Total number of housing units
							</mat-label>
						</div>
						<div class="flex-item ">
							<mat-form-field
								appearance="fill"
								class="number-input"
							>
								<input matInput type="number" />
							</mat-form-field>
						</div>
					</div>
					<div class="label-left">
						<residential-buildings
							[isBaseLine]="true"
							[showNumberOfUnits]="true"
							class="margin-bottom"
						>
						</residential-buildings>
					</div>
				</div>

				<div class="flex-item">
					<h4 class="margin-bottom bold">Commercial buildings</h4>
					<div class="label-left">
						<commercial-buildings
							[isBaseLine]="true"
							class="label-left"
						></commercial-buildings>
					</div>
				</div>
			</div>

			<end-use-of-energy></end-use-of-energy>

			<div class="btn-group">
				<button
					class="previous-btn"
					mat-button
					mat-raised-button
					matStepperPrevious
				>
					Previous
				</button>
				<button
					mat-button
					mat-raised-button
					class="next-btn"
					(click)="createBaseline()"
				>
					Create baseline
				</button>
			</div>
		</mat-step>
	</mat-horizontal-stepper>
</div>
