@import '../../../../variables.scss';

.emission-summary {
	background-color: $bg-color;
}

.table-title {
	padding-top: 23px;
}

#policy-version {
	width: 230px !important;
}

.table-header {
	text-transform: capitalize;
	padding-right: 5px;
	min-width: 50px;
	font-size: 10px;
	font-weight: bold;
}

.table-cell {
	font-size: 10px;
	padding-right: 5px;
}
