<div class="title-controls">
    <h3>popularion and building types</h3>
    <i>Fill in the folowing information to set the baseline</i>
</div>

<div style="color: #324191;">
    <div style="padding-left: 17rem">
        <h3>1 Populations</h3>
        <div class="inputPadding">
            <mat-label>1.1Number of the populations of the area</mat-label>
            <br>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Number of population</mat-label>
                <input matInput type="number" />
            </mat-form-field>
        </div>

        <h3>2 Buildings</h3>
        <mat-label class="inputPadding">2.1 Residential buildings</mat-label>
        <br>
    </div>


    <div class="flex-container">
        <div class="flex-item width-200">
            <mat-label class="inputPadding">
                <p class="lableInput">
                    2.1.1 Total number of housing units
                </p>
            </mat-label>
        </div>
        <div class="flex-item ">
            <mat-form-field appearance="fill" class="totalInput">
                <input matInput type="number" />
            </mat-form-field>
        </div>
    </div>
    <div class="flex-container">
        <div class="flex-item width-200 space-between">
            <mat-label>
                <p class="lableInput">
                    2.1.2 Building types
                </p>
            </mat-label>
        </div>
        <div class="flex-item">
            <mat-label appearance="fill" class="numberInput">
                <p class="lableInput">
                    Number of buildings
                </p>
            </mat-label>
        </div>
    </div>
    <div class="flex-container">
        <div class="flex-item width-200 space-between">
            <mat-label>
                <p class="lableInput">
                    Apartment
                </p>
            </mat-label>
        </div>
        <div class="flex-item">
            <mat-form-field appearance="fill" class="apartmentInput">
                <input matInput type="number" />
            </mat-form-field>
        </div>
    </div>
    <div class="flex-container">
        <div class="flex-item width-200 space-between">
            <mat-label>
                <p class="lableInput">
                    Terraced
                </p>
            </mat-label>
        </div>
        <div class="flex-item">
            <mat-form-field appearance="fill" class="numberInput">
                <input matInput type="number" />
            </mat-form-field>
        </div>
    </div>
    <div class="flex-container">
        <div class="flex-item width-200 space-between">
            <mat-label>
                <p class="lableInput">
                    Semi-detached
                </p>
            </mat-label>
        </div>
        <div class="flex-item">
            <mat-form-field appearance="fill" class="semiInput">
                <input matInput type="number" />
            </mat-form-field>
        </div>
    </div>
    <div class="flex-container">
        <div class="flex-item width-200 space-between">
            <mat-label>
                <p class="lableInput">
                    Detached
                </p>
            </mat-label>
        </div>
        <div class="flex-item">
            <mat-form-field appearance="fill" class="numberInput">
                <input matInput type="number" />
            </mat-form-field>
        </div>
    </div>
    <mat-label style="padding-left: 29rem" class="inputPadding">2.2 Commercial buildings</mat-label>
    <br>
    <br>
    <div class="flex-container">
        <div class="flex-item width-200">
            <mat-label class="inputPadding">
                <p class="lableInput">
                    2.2.1 Total floor area(m2)
                </p>
            </mat-label>
        </div>
        <div class="flex-item ">
            <mat-form-field appearance="fill" class="numberInput">
                <input matInput type="number" />
            </mat-form-field>
        </div>
    </div>
    <br>
    <div class="flex-container">
        <div class="flex-item width-200 space-between">
            <mat-label>
                <p class="lableInput">
                    2.2.2 Building use
                </p>
            </mat-label>
        </div>
        <div class="flex-item">
            <mat-label appearance="fill">
                <p class="lableInput">
                    Floor area of the building
                </p>
            </mat-label>
        </div>
    </div>
    <br>
    <div class="flex-container">
        <div class="flex-item width-200 space-between">
            <mat-label>
                <p class="lableInput">
                    Retail
                </p>
            </mat-label>
        </div>
        <div class="flex-item">
            <mat-form-field appearance="fill" class="numberInput">
                <input matInput type="number" />
            </mat-form-field>
        </div>
    </div>
    <div class="flex-container">
        <div class="flex-item width-200 space-between">
            <mat-label>
                <p class="lableInput">
                    Health
                </p>
            </mat-label>
        </div>
        <div class="flex-item">
            <mat-form-field appearance="fill" class="numberInput">
                <input matInput type="number" />
            </mat-form-field>
        </div>
    </div>
    <div class="flex-container">
        <div class="flex-item width-200 space-between">
            <mat-label>
                <p class="lableInput">
                    Hospitality
                </p>
            </mat-label>
        </div>
        <div class="flex-item">
            <mat-form-field appearance="fill" style="width: 31%;
                    padding-left: 81px;">
                <input matInput type="number" />
            </mat-form-field>
        </div>
    </div>
    <div class="flex-container">
        <div class="flex-item width-200 space-between">
            <mat-label>
                <p class="lableInput">
                    Offices
                </p>
            </mat-label>
        </div>
        <div class="flex-item">
            <mat-form-field appearance="fill" class="numberInput">
                <input matInput type="number" />
            </mat-form-field>
        </div>
    </div>
    <div class="flex-container">
        <div class="flex-item width-200 space-between">
            <mat-label>
                <p class="lableInput">
                    Industrial
                </p>
            </mat-label>
        </div>
        <div class="flex-item">
            <mat-form-field appearance="fill" style="width: 33%;
            padding-left: 88px;">
                <input matInput type="number" />
            </mat-form-field>
        </div>
    </div>
    <div class="flex-container">
        <div class="flex-item width-200 space-between">
            <mat-label>
                <p class="lableInput">
                    Warehouses
                </p>
            </mat-label>
        </div>
        <div class="flex-item">
            <mat-form-field appearance="fill" style="width: 36%;
            padding-left: 68px;">
                <input matInput type="number" />
            </mat-form-field>
        </div>
    </div>
</div>