.body-container{
    color: #3F51B5;
    padding: 3rem;
}
.width-50{
    width: 50%;
}
.width-313{
    width: 30rem
}
.flex-canvas{
    padding-top: 1rem !important;
    height:100% !important;
    width: 100% !important;
}
table {
    width: 100% !important; 
    background-color: #e4e4e8!important;
}