<mat-horizontal-stepper [linear]="isLinear" class="stepContainer">
	<mat-step>
		<ng-template matStepLabel>Location</ng-template>
		<location-step></location-step>

		<div>
			<button mat-button matStepperNext>Next</button>
		</div>
	</mat-step>

	<mat-step [stepControl]="secondFormGroup">
		<ng-template matStepLabel>Areas & Land use type</ng-template>

		<land-use-step></land-use-step>

		<button mat-button mat-raised-button color="primary" matStepperNext>
			Next
		</button>
		<button mat-button mat-raised-button color="" matStepperPrevious>
			Back
		</button>
	</mat-step>

	<mat-step>
		<ng-template matStepLabel icon>Result</ng-template>

		<result-step></result-step>

		<button mat-button mat-raised-button color="primary">Done</button>
	</mat-step>
</mat-horizontal-stepper>
