@import './../../../../variables.scss';

.number-input {
	width: 120px;
}

.building-result-container {
	padding-right: 5rem;
	color: #000;
}
.building-inputs{
	padding-left: 4rem;
}
.building-result-form{
	padding-left: 21px;
}
.building-type {
	mat-form-field {
		max-width: 100px;
	}
}
.building-baseline-container{
	padding-left: 1rem;
	color: #3f51b5;
}
.retrofit {
	color: #3f51b5;
}

.building-energy-emission {
	border: 1px solid $gray;
}

.emmission-table {
	table {
		width: 750px;
	}
}

.pie-chart {
	width: 450px;

	h4 {
		margin-left: $margin * 3;
	}
}

.new-construction {
	width: 520px;
}

.retrofit-construction {
	width: 50%;
}

.width-100 {
	width: 100px;
}

.width-250{
	width: 230px;
}
.width-277{
	width: 19%;
}
.building-next-button{
	padding-left: 60rem;
}
.add-border {
	border: 1px solid $gray;
}
.result-step {
	color: #000;
	h4 {
		padding-left: 0px;
		margin-bottom: $margin;
	}
}
.area-input {
	width: 51px;
	height: 30px;
	margin-left: 5px;
	border: 1px solid $light-gray;
}
.color-brown,
.color-brown:hover {
	background-color: #6f2c54;
}
.step-container {
	margin: auto;
}
mat-horizontal-stepper {
	background-color: transparent !important;
}
.btn-group {
	float: right;
}
.next-btn {
	background-color: #1c294e;
	color: #fff;
	text-transform: uppercase;
}
mat-horizontal-stepper {
	color: #324191;
}
.previous-btn {
	background-color: #fbfbfb;
	color: #1c294e;
	text-transform: uppercase;
	margin-right: 20px;
}
.numberInput {
	width: 40%;
}
