@import './../../../../variables.scss';

.number-input {
	width: 140px;
}

.building-result-container {
	padding-right: 5rem;
	color: #000;
}

.building-inputs {
	padding-left: 4rem;
}
.building-result-form {
	padding-left: 21px;
}
.building-type {
	mat-form-field {
		max-width: 100px;
	}
}

.building-baseline-container {
	padding-left: 1rem;
}
.retrofit {
	color: #3f51b5;
}

.emmission-table {
	table {
		width: 750px;
	}
}

.pie-chart {
	width: 450px;

	mat-label {
		margin-left: $margin * 3;
	}
}

.new-construction {
	width: 40%;
}

.retrofit-construction {
	min-width: 55%;
}

.width-250 {
	width: 250px;
}
.width-277 {
	width: 19%;
}

.width-250 {
	width: 230px;
}
.width-277 {
	width: 19%;
}
.building-next-button {
	padding-left: 60rem;
}
.add-border {
	border: 1px solid $gray;
}
.result-step {
	color: #000;
	h4 {
		padding-left: 0px;
		margin-bottom: $margin;
	}
}
.area-input {
	width: 54px;
	height: 30px;
	border: 1px solid $light-gray;
}

.step-container {
	margin: auto;
}

mat-horizontal-stepper {
	background-color: transparent !important;
}
.btn-group {
	float: right;
}
.next-btn {
	background-color: #1c294e;
	color: #fff;
	text-transform: uppercase;
}

.previous-btn {
	background-color: #fbfbfb;
	color: #1c294e;
	text-transform: uppercase;
	margin-right: 20px;
}
.numberInput {
	width: 40%;
}
.spacing {
	padding: 1rem;
}
.spacing-left {
	padding-left: 1rem;
	padding-right: 2rem;
}
.hide {
	display: none;
}

.energy-ratings {
	max-width: 90px !important;
}

building-energy-emmission {
	margin-bottom: 16px;
}
