<div class="consumption-policy">
	<div class="flex-container">
		<div class="flex-item space-between">
			<h4>Household heating energy efficiency</h4>
			<div class="flex-container">
				<div class="flex-item width-200">
					<mat-label
						>What is the relative change in energy use for heating
						and cooling?</mat-label
					>
				</div>
				<div class="flex-item">
					<mat-form-field appearance="fill" class="numberInput">
						<input
							matInput
							type="number"
							[(ngModel)]="energyEfficiency"
						/>
					</mat-form-field>
				</div>
			</div>
			<h4>Local Electricity production</h4>
			<div class="flex-container">
				<div class="flex-item width-200">
					<mat-label
						>What is the source of local energy production
					</mat-label>
				</div>
				<div class="flex-item">
					<mat-form-field appearance="fill">
						<mat-select
							[(ngModel)]="sourceOfEnergyShare"
							name="targetArea"
							(selectionChange)="onSourceOfEnergySelected()"
						>
							<mat-option
								*ngFor="let source of sourceOfEnergy"
								[value]="source"
							>
								{{ source.name }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
			<div class="flex-container">
				<div class="flex-item width-200">
					<mat-label
						>What share of the local demand is covered?</mat-label
					>
				</div>
				<div class="flex-item">
					<mat-form-field appearance="fill" class="numberInput">
						<input
							matInput
							type="number"
							[(ngModel)]="sourceOfEnergyShare"
						/>
					</mat-form-field>
				</div>
			</div>
		</div>
		<div class="flex-item">
			<h4>Sustainable heating</h4>
			<div class="flex-container">
				<div class="flex-item width-200">
					<mat-label
						>What is the mix of energy sources for household fuel
						combustion?</mat-label
					>
				</div>
				<div class="flex-item">
					<mat-form-field appearance="fill" class="numberInput">
						<input
							matInput
							type="number"
							[(ngModel)]="mixOfEnergySource"
						/>
					</mat-form-field>
				</div>
			</div>
			<div class="flex-container">
				<div class="flex-item width-200">
					<mat-label
						>What are the direct Emissions from district
						heating?</mat-label
					>
				</div>
				<div class="flex-item">
					<mat-form-field appearance="fill" class="numberInput">
						<input
							matInput
							type="number"
							[(ngModel)]="directEmissionFromDistrictHeating"
						/>
					</mat-form-field>
				</div>
			</div>
			<h4>Biofuel in transport</h4>
			<div class="flex-container">
				<div class="flex-item width-200">
					<mat-label
						>What is the new share of biofuels in private
						transport?</mat-label
					>
				</div>
				<div class="flex-item">
					<mat-form-field appearance="fill" class="numberInput">
						<input
							matInput
							type="number"
							[(ngModel)]="biofuelShare"
						/>
					</mat-form-field>
				</div>
			</div>
			<h4>Electric Vehicles</h4>
			<div class="flex-container">
				<div class="flex-item width-200">
					<mat-label
						>What is the share of electric vehicles in private
						transport?</mat-label
					>
				</div>
				<div class="flex-item">
					<mat-form-field appearance="fill" class="numberInput">
						<input
							matInput
							type="number"
							[(ngModel)]="electricVehiclesShare"
						/>
					</mat-form-field>
				</div>
			</div>
			<h4>Modal shift</h4>
			<div class="flex-container">
				<div class="flex-item width-200">
					<mat-label
						>What is the relative decrease in private
						transport?</mat-label
					>
				</div>
				<div class="flex-item">
					<mat-form-field appearance="fill" class="numberInput">
						<input
							matInput
							type="number"
							[(ngModel)]="privateTransport"
						/>
					</mat-form-field>
				</div>
			</div>
			<div class="flex-container">
				<div class="flex-item width-200">
					<mat-label
						>What is the relative increase in public
						transport?</mat-label
					>
				</div>
				<div class="flex-item">
					<mat-form-field appearance="fill" class="numberInput">
						<input
							matInput
							type="number"
							[(ngModel)]="publicTransport"
						/>
					</mat-form-field>
				</div>
			</div>
		</div>
	</div>
</div>
