
.numberInput {
	width: 30%;
    padding-left: 103px;
}
.space-between {
	margin-right: 100px;
}
.flex-container{
    padding-left: 20rem    
}
.inputPadding {
    padding-left: 3rem
}
.totalInput{
    padding-left: 37px;
    width: 33%;
}
.apartmentInput{
    padding-left: 91px;
    width: 30%;
}
.semiInput{
    padding-left: 67px;
    width: 33%;
}
.title-controls{
    padding: 3rem;
}