mat-label {
  display: block;
  margin-bottom: 10px;
}

th.mat-header-cell,
td.mat-cell {
  text-align: center;
  border: 1px solid #ccc;
  padding: 0 !important;
}

.similar-cell-width {
  min-width: 100px;
  max-width: 100px;
}

th.mat-header-cell {
  background-color: #ccc;
}

.table-container {
  height: 190px;
  overflow: auto;
  width: 70%;
}
