@import './variables.scss';

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
}

.flex-item {
	width: auto;
}

.space-between {
	margin-right: $margin;
}

.table-container {
	overflow: auto;
}

.module-body {
	padding-left: $margin * 2;
	padding-top: $margin * 2;
}

.module-header {
	background-color: $bg-color;
	text-align: center;
	width: 70%;
}

.headerLink {
	text-decoration: none;
	font-size: medium;
	color: $light-blue;
	font-size: 16px;
	font-weight: 500;
}

h4 {
	color: $light-blue;
}

.module-accordion {
	display: block;
	margin-top: $margin;
	margin-bottom: $margin;
	width: 73%;
}

.module-accordion-item {
	display: block;
	border: solid 1px $light-gray;
}

.module-accordion-item + .module-accordion-item {
	border-top: none;
}

.module-accordion-item-header {
	display: flex;
	align-content: center;
	justify-content: space-between;
	color: white;
}

.module-accordion-item-description {
	font-size: 0.85em;
	color: $dark-gray;
}

.module-accordion-item-header,
.module-accordion-item-body {
	padding: 16px;
}
.module-accordion-item-body {
	background-color: $bg-color;
}

.module-accordion-item-header:hover {
	cursor: pointer;
}

.module-accordion-item:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.module-accordion-item:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.accordion-text {
	width: 28%;
	align-content: center;
	padding-left: 19rem;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.calculate-controls {
	width: 100%;
	height: 40px;
	margin-top: $margin * 2;
}

.tab-content {
	padding: 10px;
}

.text-align-center {
	text-align: center;
}

.add-button {
	padding-left: 45rem;
	color: $light-blue;
	font-size: inherit;
	font-weight: 500;
	float: right;
}

.next-button {
	float: right;
	margin-right: -90px !important;
}

.landuse,
.landuse:hover {
	background-color: $light-green;
}

.traffic,
.traffic:hover {
	background-color: $light-pink;
}

.buildings,
.buildings:hover {
	background-color: $dark-pink;
}

.consumption,
.consumption:hover {
	background-color: $light-blue;
}

.capitalize {
	text-transform: capitalize;
}

.verical-text {
	width: 1px;
	padding: $padding + 5;
	word-wrap: break-word;
	font-family: monospace; /* this is just for good looks */
}

.gray-text {
	color: $dark-gray;
}

.space-between-60px {
	margin-left: 60px;
}

.margin-right-25px {
	margin-right: 60px;
}

.module-selector {
	margin-top: $margin * 2;
}

.width-200 {
	width: 200px;
}

.control-buttons {
	margin-bottom: $margin * 2;
}
