html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
}

.flex-item {
	width: auto;
}

.space-between {
	margin-right: 16px;
}

.table-container {
	overflow: auto;
}

.text-align-center {
	text-align: center;
}

.add-button {
	padding-left: 45rem;
	color: #3f51b5;
	font-size: inherit;
	font-weight: 500;
	float: right;
}

.next-button {
	float: right;
	margin-right: -90px !important;
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}
