$bg-color: #e4e4e8;

$gray: #f0f0f0;
$light-gray: #fafafa;
$dark-gray: #616161;

$espon-blue: #233362;
$eu-blue: #214e9c;

$light-blue: #3f51b5;
$blue: #214e9c;
$dark-blue: #1c294e;

$light-green: #6dab36;
$dark-green: #008000b8;

$light-pink: #db7093;
$dark-pink: #6f2c54;

$dark-yellow: #ffd740;

$margin: 16px;
$padding: 8px;
$text-font: 14px;
