@import '../../../../variables.scss';

.table-title {
	padding-left: 18px;
	padding-top: 23px;
	padding-bottom: 1px;
}

.table-header {
	text-transform: capitalize;
	padding-right: 5px;
	min-width: 50px;
	font-size: 10px;
	font-weight: bold;
}

.table-cell {
	font-size: 10px;
	padding-right: 5px;
}
