<h1>Transport</h1>
<i>Fill in the following information to set the baseline</i>
<br>
<div class="body-container">
    <div class="flex-container">
        <div class="flex-item width-350">
            <mat-label>
                <h3>Year</h3>
            </mat-label>
        </div>
        <div class="flex-item">
            <mat-label>
                <h3>2021</h3>
            </mat-label>
        </div>
    </div>
    <div class="flex-container">
        <div class="flex-item width-350">
            <mat-label>
                <h3>Country</h3>
            </mat-label>
        </div>
        <div class="flex-item">
            <mat-label>
                <h3>Finland</h3>
            </mat-label>
        </div>
    </div>
    <div class="flex-container">
        <div class="flex-item width-350">
            <mat-label>
                <h3>Population of the assesment area</h3>
            </mat-label>
        </div>
        <div class="flex-item">
            <mat-label>
                <textarea name="" id="" cols="9" rows="1" [value]="1000"></textarea>
                <!-- <h3>13000</h3> -->
            </mat-label>
        </div>
    </div>
    <div class="flex-container">
        <div class="flex-item width-35">
            <br>
            <br>
            <br>
            <div class="flex-container">
                <div class="flex-item">
                    <h3 class="intensity">Passanger transport in the assesment area</h3>
                    <i class="intensity">Intensity of</i>
                    <br>
                    <br>
                    <div class="flex-container">
                        <div class="flex-item width-313">
                            <i>Transportation on wheels</i>
                        </div>
                        <div class="flex-item">
                            <mat-form-field appearance="fill">
                                <mat-label> Equal to national avarage</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let i of intensity" [value]="i.value">
                                        {{i.type}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex-container">
                        <div class="flex-item width-313">
                            <i>Passanger car transportation</i>
                        </div>
                        <div class="flex-item">

                            <mat-form-field appearance="fill">
                                <mat-label>Equal to national avarage</mat-label>
                                <select matNativeControl>
                                    <option value="0">Not Available</option>
                                    <option value="0.25">Very low</option>
                                    <option value="0.5">Low</option>
                                    <option value="1">Equal to national avarage</option>
                                    <option value="2">High</option>
                                    <option value="4">Very High</option>

                                </select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex-container">
                        <div class="flex-item width-313">
                            <i>Tram and metro transport</i>
                        </div>
                        <div class="flex-item">
                            <mat-form-field appearance="fill">
                                <mat-label> Equal to national avarage</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let i of intensity" [value]="i.value">
                                        {{i.type}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex-container">
                        <div class="flex-item width-313">
                            <i>Public transport on rails</i>
                        </div>
                        <div class="flex-item">
                            <mat-form-field appearance="fill">
                                <mat-label> Equal to national avarage</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let i of intensity" [value]="i.value">
                                        {{i.type}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="flex-item">
                    <br>
                    <br>
                    <br>
                    <br>
                    <h3 class="intensity">Freight transport in the assesment area</h3>
                    <i class="intensity">Intensity of</i>
                    <br>
                    <br>
                    <div class="flex-container">
                        <div class="flex-item width-313">
                            <i>Traffic on rails</i>
                        </div>
                        <div class="flex-item">
                            <mat-form-field appearance="fill">
                                <mat-label> Equal to national avarage</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let i of intensity" [value]="i.value">
                                        {{i.type}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex-container">
                        <div class="flex-item width-313">
                            <i>Traffic on wheels</i>
                        </div>
                        <div class="flex-item">
                            <mat-form-field appearance="fill">
                                <mat-label> Equal to national avarage</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let i of intensity" [value]="i.value">
                                        {{i.type}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex-container">
                        <div class="flex-item width-313">
                            <i>Inland waterways freight transport</i>
                        </div>
                        <div class="flex-item">
                            <mat-form-field appearance="fill">
                                <mat-label> Equal to national avarage</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let i of intensity" [value]="i.value">
                                        {{i.type}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>