.body-container{
    color: #3F51B5;
    padding: 3rem;
}
.flex-item {
	margin-bottom: 10px;
}
.width-350 {
	width: 350px;
}
.width-313 {
	width: 18rem;
}
.width-35 {
	width: 33rem;
}
.mat-expansion-panel{
	background-color: #E4E4E8;
}
.intensity{
	font-weight: bold;
}
.trafficTable{
	width: 20rem;
    background-color: #E4E4E8;
}
tr.mat-row, tr.mat-footer-row {
    height: 20px;
}
textarea{
    background-color: #e4e4e8!important;
    color: #3F51B5;
	font-size: larger;
}